<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.file.IFileDao">
	<select id="findFileByBusinessId" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT pcf.fileid,pcf.filename,pcf.service_url,pcf.filesize,attachment FROM PRE_COMMON_FILE pcf WHERE  pcf.fileid in (${file_id})
		
	</select>
	
	<insert id="insertFile" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		insert into PRE_COMMON_FILE (FILENAME,AUTHORID,UPLOADTIME,FILESIZE,ATTACHMENT,DOWNLOADNUM,STICK)
		value(#{file_name},#{user_id},now(),#{file_size},#{qiniu_url},0,0)
	</insert>
	
	<!-- 获取文件自增ID -->
	<select id="getIdentity" parameterType="java.util.HashMap" resultType="Integer">
		select @@identity
	</select>
</mapper>