<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.shanghui.IShangHuiDao">
	<!-- 查询商会通知列表总条数 -->
	<select id="findNoticeCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			COUNT(*) count
		FROM
			PRE_COMMON_NOTICE n,
			PRE_COMMON_SHANGHUI s
		WHERE
			s.SHID = n.SHANGHUIID
		<if test="NOTICESTATUS != '2'.toString()">
			AND <![CDATA[NOTICESTATUS <> 2]]>
		</if>
		<if test="NOTICESTATUS == '2'.toString()">
			AND <![CDATA[NOTICESTATUS = 2]]>
		</if>
		<if test="SHNAME != null and SHNAME != ''">
			AND s.SHNAME LIKE '%${SHNAME}%'
		</if>
		<if test="PUBLISHSTARTTIME != null and PUBLISHSTARTTIME != ''">
			AND n.PUBLISHTIME >= #{PUBLISHSTARTTIME}
		</if>
		<if test="PUBLISHENDTIME != null and PUBLISHENDTIME != ''">
			<![CDATA[AND n.PUBLISHTIME <= #{PUBLISHENDTIME}]]>
		</if>
		<if test="update_start_time != null and update_start_time != ''">
			AND n.update_time >= #{update_start_time}
		</if>
		<if test="update_end_time != null and update_end_time != ''">
			<![CDATA[AND n.update_time <= #{update_end_time}]]>
		</if>
		<if test="TITLE != null and TITLE != ''">
			AND n.TITLE LIKE '%${TITLE}%'
		</if>
	</select>
	<!-- 查询商会通知列表 -->
	<select id="findNoticeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			n.NID,
			n.TITLE,
			n.SHANGHUIID,
			s.SHNAME,
			n.PUBLISHTIME,
			n.PUBLISHMANID,
			n.AUTHOR,
			n.update_time,
			n.audit_user_id,
			n.audit_user_name,
			n.show_times_count,
			n.show_people_count,
			n.visit_times_count,
			n.visit_people_count,
			n.zan_count,
			n.favorite_count,
			n.share_count,
			n.comment_count,
			n.view_times_count_all,
			n.view_people_count_all,
			n.wx_visit_times_count,
			n.wx_visit_people_count,
			n.zan_count_all,
			n.favorite_count_all,
			n.share_count_all,
			n.comment_count_all
		FROM
			PRE_COMMON_NOTICE n,
			PRE_COMMON_SHANGHUI s
		WHERE
			s.SHID = n.SHANGHUIID
		<if test="NOTICESTATUS != '2'.toString()">
			AND <![CDATA[NOTICESTATUS <> 2]]>
		</if>
		<if test="NOTICESTATUS == '2'.toString()">
			AND <![CDATA[NOTICESTATUS = 2]]>
		</if>
		<if test="SHNAME != null and SHNAME != ''">
			AND s.SHNAME LIKE '%${SHNAME}%'
		</if>
		<if test="PUBLISHSTARTTIME != null and PUBLISHSTARTTIME != ''">
			
			<![CDATA[AND UNIX_TIMESTAMP(n.PUBLISHTIME)*1000  >= #{PUBLISHSTARTTIME}]]>
		</if>
		<if test="PUBLISHENDTIME != null and PUBLISHENDTIME != ''">
			<![CDATA[AND n.PUBLISHTIME <= #{PUBLISHENDTIME}]]>
		</if>
		<if test="update_start_time != null and update_start_time != ''">
			AND n.update_time >= #{update_start_time}
		</if>
		<if test="update_end_time != null and update_end_time != ''">
			<![CDATA[AND n.update_time <= #{update_end_time}]]>
		</if>
		<if test="TITLE != null and TITLE != ''">
			AND n.TITLE LIKE '%${TITLE}%'
		</if>
		ORDER BY
		    n.update_time desc,
			n.PUBLISHTIME DESC
		<if test="y != null and y != ''">
			LIMIT ${x},${y}
		</if>
	</select>
	<!-- 修改商会通知 -->
	<update id="updateNotice" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_NOTICE
		SET update_time = #{update_time}
		 <if test="audit_user_id != null and audit_user_id != ''">
		 	,audit_user_id = #{audit_user_id}
		 </if>
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="view_times_count_all != null and view_times_count_all != ''">
		 	,view_times_count_all = #{view_times_count_all}
		 </if>
		 <if test="view_people_count_all != null and view_people_count_all != ''">
		 	,view_people_count_all = #{view_people_count_all}
		 </if>
		 <if test="zan_count_all != null and zan_count_all != ''">
		 	,zan_count_all = #{zan_count_all}
		 </if>
		 <if test="favorite_count_all != null and favorite_count_all != ''">
		 	,favorite_count_all = #{favorite_count_all}
		 </if>
		 <if test="share_count_all != null and share_count_all != ''">
		 	,share_count_all = #{share_count_all}
		 </if>
		 <if test="comment_count_all != null and comment_count_all != ''">
		 	,comment_count_all = #{comment_count_all}
		 </if>
		 <if test="NOTICESTATUS != null and NOTICESTATUS != ''">
		 	,NOTICESTATUS = #{NOTICESTATUS}
		 </if>
		WHERE
			NID IN (${NIDS})
	</update>
	<!-- 查询商会资讯列表总条数 -->
	<select id="findInformationCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			COUNT(*) count
		FROM
			PRE_COMMON_INFORMATION i,
			PRE_COMMON_SHANGHUI s
		WHERE
			s.SHID = i.BELONGCOMMERCEID
		<if test="SAVETYPE != '2'.toString()">
			AND <![CDATA[SAVETYPE <> 2]]>
		</if>
		<if test="SAVETYPE == '2'.toString()">
			AND <![CDATA[SAVETYPE = 2]]>
		</if>
		<if test="SHNAME != null and SHNAME != ''">
			AND s.SHNAME LIKE '%${SHNAME}%'
		</if>
		<if test="RELEASESTARTTIME != null and RELEASESTARTTIME != ''">
			AND UNIX_TIMESTAMP(i.RELEASETIME) * 1000 >= #{RELEASESTARTTIME}
		</if>
		<if test="RELEASEENDTIME != null and RELEASEENDTIME != ''">
			<![CDATA[AND UNIX_TIMESTAMP(i.RELEASETIME) * 1000 <= #{RELEASEENDTIME}]]>
		</if>
		<if test="update_start_time != null and update_start_time != ''">
			AND i.update_time >= #{update_start_time}
		</if>
		<if test="update_end_time != null and update_end_time != ''">
			<![CDATA[AND i.update_time <= #{update_end_time}]]>
		</if>
		<if test="TITLE != null and TITLE != ''">
			AND i.TITLE LIKE '%${TITLE}%'
		</if>
	</select>
	<!-- 查询商会资讯列表 -->
	<select id="findInformationList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			i.INID,
			i.AUTHORID,
			i.AUTHOR,
			UNIX_TIMESTAMP(i.RELEASETIME) * 1000 RELEASETIME,
			i.TITLE,
			i.SAVETYPE,
			s.SHID,
			s.SHNAME,
			i.update_time,
			i.audit_user_id,
			i.audit_user_name,
			i.zan_count,
			i.favorite_count,
			i.share_count,
			i.comment_count,
			i.view_times_count_all,
			i.view_people_count_all,
			i.wx_visit_times_count,
			i.wx_visit_people_count,
			i.zan_count_all,
			i.favorite_count_all,
			i.share_count_all,
			i.comment_count_all
		FROM
			PRE_COMMON_INFORMATION i,
			PRE_COMMON_SHANGHUI s
		WHERE
			s.SHID = i.BELONGCOMMERCEID
		<if test="SAVETYPE != '2'.toString()">
			AND <![CDATA[SAVETYPE <> 2]]>
		</if>
		<if test="SAVETYPE == '2'.toString()">
			AND <![CDATA[SAVETYPE = 2]]>
		</if>
		<if test="SHNAME != null and SHNAME != ''">
			AND s.SHNAME LIKE '%${SHNAME}%'
		</if>
		<if test="RELEASESTARTTIME != null and RELEASESTARTTIME != ''">
			AND UNIX_TIMESTAMP(i.RELEASETIME) * 1000 >= #{RELEASESTARTTIME}
		</if>
		<if test="RELEASEENDTIME != null and RELEASEENDTIME != ''">
			<![CDATA[AND UNIX_TIMESTAMP(i.RELEASETIME) * 1000 <= #{RELEASEENDTIME}]]>
		</if>
		<if test="update_start_time != null and update_start_time != ''">
			AND i.update_time >= #{update_start_time}
		</if>
		<if test="update_end_time != null and update_end_time != ''">
			<![CDATA[AND i.update_time <= #{update_end_time}]]>
		</if>
		<if test="TITLE != null and TITLE != ''">
			AND i.TITLE LIKE '%${TITLE}%'
		</if>
		<if test="SAVETYPE != '2'.toString()">
		ORDER BY
			i.releasetime desc
			</if>
			<if test="SAVETYPE == '2'.toString()">
				ORDER BY i.update_time DESC,i.releasetime desc
			</if>
		<if test="y != null and y != ''">
			LIMIT ${x},${y}
		</if>
	</select>
	<!-- 修改商会资讯 -->
	<update id="updateInformation" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_INFORMATION
		SET update_time = #{update_time}
		 <if test="audit_user_id != null and audit_user_id != ''">
		 	,audit_user_id = #{audit_user_id}
		 </if>
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="view_times_count_all != null and view_times_count_all != ''">
		 	,view_times_count_all = #{view_times_count_all}
		 </if>
		 <if test="view_people_count_all != null and view_people_count_all != ''">
		 	,view_people_count_all = #{view_people_count_all}
		 </if>
		 <if test="zan_count_all != null and zan_count_all != ''">
		 	,zan_count_all = #{zan_count_all}
		 </if>
		 <if test="favorite_count_all != null and favorite_count_all != ''">
		 	,favorite_count_all = #{favorite_count_all}
		 </if>
		 <if test="share_count_all != null and share_count_all != ''">
		 	,share_count_all = #{share_count_all}
		 </if>
		 <if test="comment_count_all != null and comment_count_all != ''">
		 	,comment_count_all = #{comment_count_all}
		 </if>
		 <if test="SAVETYPE != null and SAVETYPE != ''">
		 	,SAVETYPE = #{SAVETYPE}
		 </if>
		WHERE
			INID IN (${INIDS})
	</update>
	<!-- 查询商会资讯详情 -->
	<select id="findInformationDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			PRE_COMMON_INFORMATION i
		WHERE
			i.INID = #{INID}
	</select>
	
	<!-- 修改商会资讯分享、点赞数等 -->
	<update id="updateSHNews" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_INFORMATION
		SET  audit_user_id = #{audit_user_id}
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="view_times_count_all != null and view_times_count_all != ''">
		 	,view_times_count_all = #{view_times_count_all}
		 </if>
		 <if test="view_people_count_all != null and view_people_count_all != ''">
		 	,view_people_count_all = #{view_people_count_all}
		 </if>
		 <if test="zan_count_all != null and zan_count_all != ''">
		 	,zan_count_all = #{zan_count_all}
		 </if>
		 <if test="favorite_count_all != null and favorite_count_all != ''">
		 	,favorite_count_all = #{favorite_count_all}
		 </if>
		 <if test="share_count_all != null and share_count_all != ''">
		 	,share_count_all = #{share_count_all}
		 </if>
		 <if test="comment_count_all != null and comment_count_all != ''">
		 	,comment_count_all = #{comment_count_all}
		 </if>

		WHERE
			INID = #{id}
	</update>
	
	<!-- 修改商会通知分享、点赞数等 -->
	<update id="updateSHNotice" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_NOTICE
		SET  audit_user_id = #{audit_user_id}
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="view_times_count_all != null and view_times_count_all != ''">
		 	,view_times_count_all = #{view_times_count_all}
		 </if>
		 <if test="view_people_count_all != null and view_people_count_all != ''">
		 	,view_people_count_all = #{view_people_count_all}
		 </if>
		 <if test="zan_count_all != null and zan_count_all != ''">
		 	,zan_count_all = #{zan_count_all}
		 </if>
		 <if test="favorite_count_all != null and favorite_count_all != ''">
		 	,favorite_count_all = #{favorite_count_all}
		 </if>
		 <if test="share_count_all != null and share_count_all != ''">
		 	,share_count_all = #{share_count_all}
		 </if>
		 <if test="comment_count_all != null and comment_count_all != ''">
		 	,comment_count_all = #{comment_count_all}
		 </if>

		WHERE
			NID = #{id}
	</update>
	
	<!-- 查询商会通知详情 -->
	<select id="findNoticeDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			PRE_COMMON_NOTICE i
		WHERE
			i.NID = #{NID}
	</select>
	
</mapper>