@import "components/page";
@import "components/side-menu";
@import "components/top-navbar";
@import "components/tabs-bar";
@import "components/button";
@import "components/card";
@import "components/label";