<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.push.IPushDao">
	<!-- 新增信息流 -->
	<insert id="insertFeed"  parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_feed (
			author_id
			<if test="author_name != null and author_name != ''">
				,author_name
			</if>
			<if test="title != null and title != ''">
				,title
			</if>
			<if test="summary != null">
				,summary
			</if>
			<if test="image != null and image != ''">
				,image
			</if>
			<if test="extra != null and extra != ''">
				,extra
			</if>
			<if test="extra == null or extra == ''">
				,extra
			</if>
			,obj_id
			,obj_type
			,filter
			<if test="author_type != null and author_type != ''">
				,author_type
			</if>
			<if test="author_type == null or author_type == ''">
				,author_type
			</if>
			,create_time
			,audit_time
			<if test="is_good != null and is_good != ''">
				,is_good
			</if>
			<if test="is_rm != null and is_rm != ''">
				,is_rm
			</if>
			<if test="is_push_again != null and is_push_again != ''">
				,is_push_again
			</if>
		)
		VALUES
			(
				#{author_id}
				<if test="author_name != null and author_name != ''">
					,#{author_name}
				</if>
				<if test="title != null and title != ''">
					,#{title}
				</if>
				<if test="summary != null">
					,#{summary}
				</if>
				<if test="image != null and image != ''">
					,#{image}
				</if>
				<if test="extra != null and extra != ''">
					,#{extra}
				</if>
				<if test="extra == null or extra == ''">
					,0
				</if>
				,#{obj_id}
				,#{obj_type}
				,0
				<if test="author_type != null and author_type != ''">
					,#{author_type}
				</if>
				<if test="author_type == null or author_type == ''">
					,2
				</if>
				,#{create_time}
				,#{create_time}
				<if test="is_good != null and is_good != ''">
					,#{is_good}
				</if>
				<if test="is_rm != null and is_rm != ''">
					,#{is_rm}
				</if>
				<if test="is_push_again != null and is_push_again != ''">
					,#{is_push_again}
				</if>
			)
	</insert>
	<!-- 临时信息流筛选条件 -->
	<insert id="insertFeedTempInfo" parameterType="java.util.HashMap">
		insert into yj_feed_temp_feedinfo
		(
			author_id
			<if test="author_name != null and author_name != ''">
				,author_name
			</if>
			<if test="feed_id != null and feed_id != ''">
				,feed_id
			</if>
			<if test="sh_ids !=null and sh_ids != ''">
				,sh_ids
			</if>
			<if test="sh_names != null and sh_names != ''">
				,sh_names
			</if>
			<if test="industry_ids != null and industry_ids != ''">
				,industry_ids
			</if>
			<if test="industry_names != null and industry_names != ''">
				,industry_names
			</if>
			<if test="region_ids != null and region_ids != ''">
				,region_ids
			</if>
			<if test="region_names != null and region_names != ''">
				,region_names
			</if>
			<if test="nativeplace_ids != null and nativeplace_ids != ''">
				,nativeplace_ids
			</if>
			<if test="nativeplace_names != null and nativeplace_names != ''">
				,nativeplace_names
			</if>
			<if test="usergroup_ids != null and usergroup_ids != ''">
				,usergroup_ids
			</if>
			<if test="usergroup_names != null and usergroup_names != ''">
				,usergroup_names
			</if>
			<if test="user_ids != null and user_ids != ''">
				,user_ids
			</if>
			<if test="user_names != null and user_names != ''">
				,user_names
			</if>
			
			<if test="circle_ids != null and circle_ids != ''">
				,circle_ids
			</if>
			
			<if test="circle_names != null and circle_names != ''">
				,circle_names
			</if>
			,create_time
			,obj_id
			,obj_type
			<if test="all_user !=null and all_user !=''">
				,all_user
			</if>
			<if test="small_top !=null and small_top !=''">
				,small_top
			</if>
			<if test="big_top !=null and big_top !=''">
				,big_top
			</if>
			<if test="is_default !=null and is_default !=''">
				,is_default
			</if>
			<if test="is_push_again !=null and is_push_again !=''">
				,is_push_again
			</if>
			<if test="is_push_type !=null and is_push_type !=''">
				,is_push_type
			</if>
			<if test="title !=null and title !=''">
				,title
			</if>
			<if test="content !=null and content !=''">
				,content
			</if>
			<if test="is_extra_push !=null and is_extra_push !=''">
				,is_extra_push
			</if>
			<if test="state != null and state != ''">
				,state
			</if>
		) values
		(
			#{author_id}
			<if test="author_name != null and author_name != ''">
				,#{author_name}
			</if>
			<if test="feed_id != null and feed_id != ''">
			,${feed_id}
			</if>
			<if test="sh_ids !=null and sh_ids != ''">
				,#{sh_ids}
			</if>
			<if test="sh_names != null and sh_names != ''">
				,#{sh_names}
			</if>
			<if test="industry_ids != null and industry_ids != ''">
				,#{industry_ids}
			</if>
			<if test="industry_names != null and industry_names != ''">
				,#{industry_names}
			</if>
			<if test="region_ids != null and region_ids != ''">
				,#{region_ids}
			</if>
			<if test="region_names != null and region_names != ''">
				,#{region_names}
			</if>
			<if test="nativeplace_ids != null and nativeplace_ids != ''">
				,#{nativeplace_ids}
			</if>
			<if test="nativeplace_names != null and nativeplace_names != ''">
				,#{nativeplace_names}
			</if>
			<if test="usergroup_ids != null and usergroup_ids != ''">
				,#{usergroup_ids}
			</if>
			<if test="usergroup_names != null and usergroup_names != ''">
				,#{usergroup_names}
			</if>
			<if test="user_ids != null and user_ids != ''">
				,#{user_ids}
			</if>
			<if test="user_names != null and user_names != ''">
				,#{user_names}
			</if>
			
			<if test="circle_ids != null and circle_ids != ''">
				,#{circle_ids}
			</if>
			<if test="circle_names != null and circle_names != ''">
				,#{circle_names}
			</if>
			,#{create_time}
			,#{obj_id}
			,#{obj_type}
			<if test="all_user !=null and all_user !=''">
				,#{all_user}
			</if>
			<if test="small_top !=null and small_top !=''">
				,#{small_top}
			</if>
			<if test="big_top !=null and big_top !=''">
				,#{big_top}
			</if>
			<if test="is_default !=null and is_default !=''">
				,#{is_default}
			</if>
			<if test="is_push_again !=null and is_push_again !=''">
				,#{is_push_again}
			</if>
			<if test="is_push_type !=null and is_push_type !=''">
				,${is_push_type}
			</if>
			<if test="title !=null and title !=''">
				,#{title}
			</if>
			<if test="content !=null and content !=''">
				,#{content}
			</if>
			<if test="is_extra_push !=null and is_extra_push !=''">
				,#{is_extra_push}
			</if>
			<if test="state != null and state != ''">
				,#{state}
			</if>
		)
	</insert>
	<!-- 新增大小置顶 -->
	<insert id="insertFeedTmp" parameterType="java.util.HashMap">
		INSERT INTO yj_feed_filter_tmp (
			feed_id
			<if test="filter != null">
				,filter
			</if>
			<if test="display_position != null and display_position != ''">
				,display_position
			</if>
			,start_time
			,end_time
			,create_time
			,type
			,obj_id
			,obj_type
		)
		VALUES
			(
				#{feed_id}
				<if test="filter != null">
					,#{filter}
				</if>
				<if test="display_position != null and display_position != ''">
					,#{display_position}
				</if>
				,#{start_time}
				,#{end_time}
				,#{create_time}
				,#{type}
				,#{obj_id}
				,#{obj_type}
			)
	</insert>
	
	<!-- 新增信息流筛选条件 -->
	<insert id="insertFeedFilter" parameterType="java.util.HashMap">
		insert into yj_feed_filter (
			feed_id,
			filter,
			create_time,
			push_time
		)values (
			#{feed_id},
			#{filter},
			#{create_time},
			#{push_time}
		)
	</insert>
	
	<!-- 审核额外推送信息保存表 -->
	<update id="updateTempFeedInfo" parameterType="java.util.HashMap">
		UPDATE yj_feed_temp_feedinfo
		SET audit_time = #{audit_time}
		 <if test="state != null and state != null">
		 	,state = #{state}
		 </if>
		 <if test="status != null and status != null">
		 	,`status` = #{status}
		 </if>
		 <if test="sh_ids != null and sh_ids != null">
		 	,sh_ids = #{sh_ids}
		 </if>
		 <if test="sh_names != null and sh_names != null">
		 	,sh_names = #{sh_names}
		 </if>
		 <if test="industry_ids != null and industry_ids != null">
		 	,industry_ids = #{industry_ids}
		 </if>
		 <if test="industry_names != null and industry_names != null">
		 	,industry_names = #{industry_names}
		 </if>
		 <if test="region_ids != null and region_ids != null">
		 	,region_ids = #{region_ids}
		 </if>
		 <if test="region_names != null and region_names != null">
		 	,region_names = #{region_names}
		 </if>
		 <if test="nativeplace_ids != null and nativeplace_ids != null">
		 	,nativeplace_ids = #{nativeplace_ids}
		 </if>
		 <if test="nativeplace_names != null and nativeplace_names != null">
		 	,nativeplace_names = #{nativeplace_names}
		 </if>
		 <if test="usergroup_ids != null and usergroup_ids != null">
		 	,usergroup_ids = #{usergroup_ids}
		 </if>
		 <if test="usergroup_names != null and usergroup_names != null">
		 	,usergroup_names = #{usergroup_names}
		 </if>
		 <if test="user_ids != null and user_ids != null">
		 	,user_ids = #{user_ids}
		 </if>
		 <if test="user_names != null and user_names != null">
		 	,user_names = #{user_names}
		 </if>
		 <if test="circle_ids != null and circle_ids != null">
		 	,circle_ids = #{circle_ids}
		 </if>
		 <if test="circle_names != null and circle_names != null">
		 	,circle_names = #{circle_names}
		 </if>
		 <if test="all_user != null and all_user != null">
		 	,all_user = #{all_user}
		 </if>
		 <if test="small_top != null and small_top != null">
		 	,small_top = #{small_top}
		 </if>
		 <if test="big_top != null and big_top != null">
		 	,big_top = #{big_top}
		 </if>
		 <if test="is_default != null and is_default != null">
		 	,is_default = #{is_default}
		 </if>
		WHERE
			id = #{feed_info_id}
	</update>
	
	<!-- 设置信息流筛选条件为空 -->
	<update id="updateTempFeedInfoNull" parameterType="java.util.HashMap">
		UPDATE yj_feed_temp_feedinfo
		SET sh_ids = null
		 	,sh_names = null
		 	,industry_ids = null
		 	,industry_names = null
		 	,region_ids = null
		 	,region_names = null
		 	,nativeplace_ids = null
		 	,nativeplace_names = null
		 	,usergroup_ids = null
		 	,usergroup_names = null
		 	,user_ids = null
		 	,user_names = null
		 	,circle_ids = null
		 	,circle_names = null
		WHERE
			id = #{feed_info_id}
	</update>
	
	<!-- 根据objid获取未审核额外推送信息 -->
	<select id="findTempFeedInfoListByObjid" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_feed_temp_feedinfo t
		WHERE
			t.`status` = 0
		AND t.state IN (0, 3)
		AND t.obj_id = ${obj_id}
	</select>
	
	
	
	<!-- 根据user_id获取会员信息 -->
	<select id="findMemberById" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			PRE_AL_MEMBER
		WHERE
			USID = #{user_id}
	</select>
	<select id="findIndustryByUserid" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT ui.industry,i.id FROM PRE_COMMON_USER_INDUSTRY ui,PRE_COMMON_INDUSTRY i WHERE ui.USID = ${user_id} AND ui.state = 1 AND ui.industry = i.name
	</select>
	<!-- 会员所属商会列表 -->
	<select id="findChamberPaperList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			sh.SHID,
			sh.SHNAME,
			sh.LOGOURL
		FROM
			PRE_AL_SHMEMBER s,
			PRE_COMMON_SHANGHUI sh,
			PRE_AL_MEMBER m
		WHERE
			s.SHANGHUIID = sh.SHID
		AND sh.`STATUS` = 1
		AND s.USERNAME = m.USERNAME
		AND s.ISACTIVATION = 2
		AND m.USID = #{user_id}
	</select>
	
	<update id="updateArticleAssociationInfo" parameterType="java.util.HashMap">
		UPDATE yj_article_association
		SET state =${state},
		 audit_id =${audit_id},
		 audit_name =#{audit_name},
		 audit_time =${audit_time}
		WHERE
			obj_id =${obj_id}
	</update>
	
	<!-- 修改信息流数据 -->
	<update id="updateFeed" parameterType="java.util.HashMap">
		UPDATE yj_feed
		SET audit_time = #{audit_time}
		 <if test="audit_user_id != null and audit_user_id != null">
		 	,audit_user_id = #{audit_user_id}
		 </if>
		 <if test="audit_user_name != null and audit_user_name != null">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="state != null and state != null">
		 	,state = #{state}
		 </if>
		 <if test="status != null and status != null">
		 	,`status` = #{status}
		 </if>
		 <if test="title != null and title != null">
		 	,title = #{title}
		 </if>
		 <if test="summary != null">
		 	,summary = #{summary}
		 </if>
		 <if test="image != null and image != null">
		 	,image = #{image}
		 </if>
		 <if test="extra != null and extra != null">
		 	,extra = #{extra}
		 </if>
		WHERE
			id = #{feed_id}
	</update>
	<!-- 查询推送信息流条件 -->
	<select id="findTempFeedInfoById" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_feed_temp_feedinfo
		WHERE
			id = #{feed_info_id}
	</select>
	<!-- 查询大咖观点的话题 -->
	<select id="findGuestOpinion" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			g.topic_id
		FROM
			yj_topic_guest_opinion o,
			yj_topic_guest g
		WHERE
			o.id = #{obj_id}
		AND o.guest_id = g.id
	</select>
	
	<!-- 修改大小置顶信息 -->
	<update id="updateFeedFilterTmp" parameterType="java.util.HashMap">
		UPDATE yj_feed_filter_tmp
		SET state = #{state}
		 <if test="display_position != null and display_position != ''">
		 	,display_position = #{display_position}
		 </if>
		 <if test="start_time != null and start_time != ''">
		 	,start_time = #{start_time}
		 </if>
		 <if test="end_time != null and end_time != ''">
		 	,end_time = #{end_time}
		 </if>
		WHERE
			id = #{id}
	</update>
	<!-- 早报审核过时修改时间 -->
	<update id="updateFeedTmpEndTime" parameterType="java.util.HashMap">
		UPDATE yj_feed_filter_tmp
		SET end_time = #{create_time}
		WHERE
			id IN (
				SELECT
					temp.id
				FROM
					(
						SELECT
							t.id
						FROM
							yj_feed_filter_tmp t,
							yj_feed f,
							yj_feed_push_tmp pt
						WHERE
							t.end_time >= #{create_time}
						AND t.obj_type = 1
						<![CDATA[AND t.feed_id <> #{feed_id}]]>
						AND t.feed_id = f.id
						AND f.push_id = pt.id
						AND pt.is_push_again = 1
					) AS temp
			)
			AND type = 1
	</update>
	
	
	<!-- 新增信息流推送条件临时表 -->
	<insert id="insertPushTmp"  parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_feed_push_tmp (
			is_push_again
			<if test="obj_id != null and obj_id != ''">
				,obj_id
			</if>
			<if test="obj_type != null and obj_type != ''">
				,obj_type
			</if>
		 	<if test="sh_ids != null and sh_ids != ''">
				,sh_ids
			</if>
		 	<if test="sh_names != null and sh_names != ''">
				,sh_names
			</if>
		 	<if test="industry_ids != null and industry_ids != ''">
				,industry_ids
			</if>
		 	<if test="industry_names != null and industry_names != ''">
				,industry_names
			</if>
		 	<if test="region_ids != null and region_ids != ''">
				,region_ids
			</if>
		 	<if test="region_names != null and region_names != ''">
				,region_names
			</if>
		 	<if test="nativeplace_ids != null and nativeplace_ids != ''">
				,nativeplace_ids
			</if>
		 	<if test="nativeplace_names != null and nativeplace_names != ''">
				,nativeplace_names
			</if>
		 	<if test="usergroup_ids != null and usergroup_ids != ''">
				,usergroup_ids
			</if>
		 	<if test="usergroup_names != null and usergroup_names != ''">
				,usergroup_names
			</if>
		 	<if test="user_ids != null and user_ids != ''">
				,user_ids
			</if>
		 	<if test="user_names != null and user_names != ''">
				,user_names
			</if>
		 	<if test="circle_ids != null and circle_ids != ''">
				,circle_ids
			</if>
		 	<if test="circle_names != null and circle_names != ''">
				,circle_names
			</if>
		 	<if test="small_top != null and small_top != ''">
				,small_top
			</if>
		 	<if test="small_start_time != null and small_start_time != ''">
				,small_start_time
			</if>
		 	<if test="small_end_time != null and small_end_time != ''">
				,small_end_time
			</if>
		 	<if test="big_top != null and big_top != ''">
				,big_top
			</if>
		 	<if test="big_start_time != null and big_start_time != ''">
				,big_start_time
			</if>
		 	<if test="big_end_time != null and big_end_time != ''">
				,big_end_time
			</if>
		 	<if test="is_default != null and is_default != ''">
				,is_default
			</if>
			
			,is_push_type
		 	<if test="all_user != null and all_user != ''">
				,all_user
			</if>
		 	<if test="title_imei != null and title_imei != ''">
				,title_imei
			</if>
		 	<if test="content_imei != null and content_imei != ''">
				,content_imei
			</if>
		 	<if test="state != null and state != ''">
				,state
			</if>
			,author_id
			,author_name
		 	<if test="open_position != null and open_position != ''">
				,open_position
			</if>
		 	<if test="is_extra_push != null and is_extra_push != ''">
				,is_extra_push
			</if>
			,create_time
			<if test="title != null and title != ''">
				,title
			</if>
			<if test="summary != null">
				,summary
			</if>
			<if test="image != null and image != ''">
				,image
			</if>
			<if test="extra != null and extra != ''">
				,extra
			</if>
			<if test="extra == null or extra == ''">
				,extra
			</if>
			<if test="display_position != null and display_position != ''">
				,display_position
			</if>
			<if test="circle_nr_ids != null and circle_nr_ids != ''">
				,circle_nr_ids
			</if>
			<if test="circle_nr_names != null and circle_nr_names != ''">
				,circle_nr_names
			</if>
		)
		VALUES
			(
				#{is_push_again}
				<if test="obj_id != null and obj_id != ''">
					,#{obj_id}
				</if>
				<if test="obj_type != null and obj_type != ''">
					,#{obj_type}
				</if>
			 	<if test="sh_ids != null and sh_ids != ''">
					,#{sh_ids}
				</if>
			 	<if test="sh_names != null and sh_names != ''">
					,#{sh_names}
				</if>
			 	<if test="industry_ids != null and industry_ids != ''">
					,#{industry_ids}
				</if>
			 	<if test="industry_names != null and industry_names != ''">
					,#{industry_names}
				</if>
			 	<if test="region_ids != null and region_ids != ''">
					,#{region_ids}
				</if>
			 	<if test="region_names != null and region_names != ''">
					,#{region_names}
				</if>
			 	<if test="nativeplace_ids != null and nativeplace_ids != ''">
					,#{nativeplace_ids}
				</if>
			 	<if test="nativeplace_names != null and nativeplace_names != ''">
					,#{nativeplace_names}
				</if>
			 	<if test="usergroup_ids != null and usergroup_ids != ''">
					,#{usergroup_ids}
				</if>
			 	<if test="usergroup_names != null and usergroup_names != ''">
					,#{usergroup_names}
				</if>
			 	<if test="user_ids != null and user_ids != ''">
					,#{user_ids}
				</if>
			 	<if test="user_names != null and user_names != ''">
					,#{user_names}
				</if>
			 	<if test="circle_ids != null and circle_ids != ''">
					,#{circle_ids}
				</if>
			 	<if test="circle_names != null and circle_names != ''">
					,#{circle_names}
				</if>
			 	<if test="small_top != null and small_top != ''">
					,#{small_top}
				</if>
			 	<if test="small_start_time != null and small_start_time != ''">
					,#{small_start_time}
				</if>
			 	<if test="small_end_time != null and small_end_time != ''">
					,#{small_end_time}
				</if>
			 	<if test="big_top != null and big_top != ''">
					,#{big_top}
				</if>
			 	<if test="big_start_time != null and big_start_time != ''">
					,#{big_start_time}
				</if>
			 	<if test="big_end_time != null and big_end_time != ''">
					,#{big_end_time}
				</if>
			 	<if test="is_default != null and is_default != ''">
					,#{is_default}
				</if>
				,#{is_push_type}
			 	<if test="all_user != null and all_user != ''">
					,#{all_user}
				</if>
			 	<if test="title_imei != null and title_imei != ''">
					,#{title_imei}
				</if>
			 	<if test="content_imei != null and content_imei != ''">
					,#{content_imei}
				</if>
			 	<if test="state != null and state != ''">
					,#{state}
				</if>
				,#{author_id}
				,#{author_name}
			 	<if test="open_position != null and open_position != ''">
					,#{open_position}
				</if>
			 	<if test="is_extra_push != null and is_extra_push != ''">
					,#{is_extra_push}
				</if>
				,#{create_time}
				<if test="title != null and title != ''">
					,#{title}
				</if>
				<if test="summary != null">
					,#{summary}
				</if>
				<if test="image != null and image != ''">
					,#{image}
				</if>
				<if test="extra != null and extra != ''">
					,#{extra}
				</if>
				<if test="extra == null or extra == ''">
					,0
				</if>
				<if test="display_position != null and display_position != ''">
					,#{display_position}
				</if>
				<if test="circle_nr_ids != null and circle_nr_ids != ''">
					,#{circle_nr_ids}
				</if>
				<if test="circle_nr_names != null and circle_nr_names != ''">
					,#{circle_nr_names}
				</if>
			)
	</insert>
	<!-- 修改信息流推送条件临时表 -->
	<update id="updatePushTmp" parameterType="java.util.HashMap">
		UPDATE yj_feed_push_tmp
		SET audit_user_id = #{audit_user_id}
		 ,audit_user_name = #{audit_user_name}
		 ,audit_time = #{audit_time}
		 <if test="obj_id != null">
		 	,obj_id = #{obj_id}
		 </if>
		 <if test="obj_type != null">
		 	,obj_type = #{obj_type}
		 </if>
		 <if test="sh_ids != null">
		 	,sh_ids = #{sh_ids}
		 </if>
		 <if test="sh_names != null">
		 	,sh_names = #{sh_names}
		 </if>
		 <if test="industry_ids != null">
		 	,industry_ids = #{industry_ids}
		 </if>
		 <if test="industry_names != null">
		 	,industry_names = #{industry_names}
		 </if>
		 <if test="region_ids != null">
		 	,region_ids = #{region_ids}
		 </if>
		 <if test="region_names != null">
		 	,region_names = #{region_names}
		 </if>
		 <if test="nativeplace_ids != null">
		 	,nativeplace_ids = #{nativeplace_ids}
		 </if>
		 <if test="nativeplace_names != null">
		 	,nativeplace_names = #{nativeplace_names}
		 </if>
		 <if test="usergroup_ids != null">
		 	,usergroup_ids = #{usergroup_ids}
		 </if>
		 <if test="usergroup_names != null">
		 	,usergroup_names = #{usergroup_names}
		 </if>
		 <if test="user_ids != null">
		 	,user_ids = #{user_ids}
		 </if>
		 <if test="user_names != null">
		 	,user_names = #{user_names}
		 </if>
		 <if test="circle_ids != null">
		 	,circle_ids = #{circle_ids}
		 </if>
		 <if test="circle_names != null">
		 	,circle_names = #{circle_names}
		 </if>
		 <if test="small_top != null">
		 	,small_top = #{small_top}
		 </if>
		 <if test="small_start_time != null and small_start_time != ''">
		 	,small_start_time = #{small_start_time, jdbcType=BIGINT}
		 </if>
		 <if test="small_end_time != null and small_end_time != ''">
		 	,small_end_time = #{small_end_time, jdbcType=BIGINT}
		 </if>
		 <if test="small_start_time == ''">
		 	,small_start_time = null
		 </if>
		 <if test="small_end_time == ''">
		 	,small_end_time = null
		 </if>
		 <if test="big_top != null">
		 	,big_top = #{big_top}
		 </if>
		 <if test="big_start_time != null and big_start_time != ''">
		 	,big_start_time = #{big_start_time, jdbcType=BIGINT}
		 </if>
		 <if test="big_end_time != null and big_end_time != ''">
		 	,big_end_time = #{big_end_time, jdbcType=BIGINT}
		 </if>
		  <if test="big_start_time == ''">
		 	,big_start_time = null
		 </if>
		 <if test="big_end_time == ''">
		 	,big_end_time = null
		 </if>
		 <if test="is_default != null">
		 	,is_default = #{is_default}
		 </if>
		 <if test="is_push_again != null">
		 	,is_push_again = #{is_push_again}
		 </if>
		 <if test="is_push_type != null">
		 	,is_push_type = #{is_push_type}
		 </if>
		 <if test="all_user != null">
		 	,all_user = #{all_user}
		 </if>
		 <if test="title_imei != null">
		 	,title_imei = #{title_imei}
		 </if>
		 <if test="content_imei != null">
		 	,content_imei = #{content_imei}
		 </if>
		 <if test="state != null">
		 	,state = #{state}
		 </if>
		 <if test="status != null">
		 	,`status` = #{status}
		 </if>
		 <if test="open_position != null">
		 	,open_position = #{open_position}
		 </if>
		 <if test="is_extra_push != null">
		 	,is_extra_push = #{is_extra_push}
		 </if>
		 <if test="title != null">
		 	,title = #{title}
		 </if>
		 <if test="summary != null">
		 	,summary = #{summary}
		 </if>
		 <if test="image != null">
		 	,image = #{image}
		 </if>
		 <if test="extra != null">
		 	,extra = #{extra}
		 </if>
		 <if test="feed_id != null">
		 	,feed_id = #{feed_id}
		 </if>
		 <if test="display_position != null">
		 	,display_position = #{display_position}
		 </if>
		 <if test="circle_nr_ids != null and circle_nr_ids != ''">
		 	,circle_nr_ids = #{circle_nr_ids}
		 </if>
		 <if test="circle_nr_names != null and circle_nr_names != ''">
		 	,circle_nr_names = #{circle_nr_names}
		 </if>
		 
		 <if test="sh_ids == ''">
		 	,sh_ids = null
		 </if>
		 <if test="sh_names == ''">
		 	,sh_names = null
		 </if>
		 <if test="industry_ids == ''">
		 	,industry_ids = null
		 </if>
		 <if test="industry_names == ''">
		 	,industry_names = null
		 </if>
		 <if test="region_ids == ''">
		 	,region_ids = null
		 </if>
		 <if test="region_names == ''">
		 	,region_names = null
		 </if>
		 <if test="nativeplace_ids == ''">
		 	,nativeplace_ids = null
		 </if>
		 <if test="nativeplace_names == ''">
		 	,nativeplace_names = null
		 </if>
		 <if test="usergroup_ids == ''">
		 	,usergroup_ids = null
		 </if>
		 <if test="usergroup_names == ''">
		 	,usergroup_names = null
		 </if>
		 <if test="user_ids == ''">
		 	,user_ids = null
		 </if>
		 <if test="user_names == ''">
		 	,user_names = null
		 </if>
		 <if test="circle_ids == ''">
		 	,circle_ids = null
		 </if>
		 <if test="circle_names == ''">
		 	,circle_names = null
		 </if>
		 <if test="title_imei == ''">
		 	,title_imei = null
		 </if>
		 <if test="content_imei == ''">
		 	,content_imei = null
		 </if>
		 <if test="extra == ''">
		 	,extra = 0
		 </if>
		WHERE
			id = #{feed_info_id}
	</update>
	<!-- 根据信息流推送条件临时表写入信息流表 -->
	<insert id="insertFeedByTmp"  parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_feed (
			title,
			summary,
			image,
			extra,
			obj_id,
			obj_type,
			filter,
			author_id,
			author_name,
			author_type,
			create_time,
			push_id,
			audit_user_id,
			audit_user_name,
			audit_time,
			is_push_again
		) SELECT
			t.title,
			t.summary,
			t.image,
			t.extra,
			t.obj_id,
			t.obj_type,
			0,
			t.author_id,
			t.author_name,
			2,
			t.audit_time,
			t.id,
			t.audit_user_id,
			t.audit_user_name,
			t.audit_time,
			is_push_again
		FROM
			yj_feed_push_tmp t
		WHERE
			t.id = #{feed_info_id}
	</insert>
	<!-- 修改信息流列表 -->
	<update id="updateFeedByObjId" parameterType="java.util.HashMap">
		UPDATE yj_feed
		SET obj_id = #{obj_id}
		<if test="title != null and title != ''">
		 ,title = #{title}
		</if>
		<if test="summary != null">
		 ,summary = #{summary}
		</if>
		<if test="image != null and image != ''">
		 ,image = #{image}
		</if>
		<if test="extra != null and extra != ''">
		 ,extra = #{extra}
		</if>
		<if test="status != null and status != ''">
		 ,status = #{status}
		</if>
		WHERE
			obj_id = #{obj_id}
		AND obj_type = #{obj_type}
		<if test="is_good == '0'.toString()">
			AND is_good = 1
		</if>
	</update>
	<!-- 修改圈子信息流 -->
	<update id="updateCircleFeedByObjId" parameterType="java.util.HashMap">
		UPDATE yj_circle_feed
		SET obj_id = #{obj_id}
		<if test="title != null and title != ''">
		 ,title = #{title}
		</if>
		<if test="summary != null">
		 ,summary = #{summary}
		</if>
		<if test="image != null and image != ''">
		 ,image = #{image}
		</if>
		<if test="extra != null and extra != ''">
		 ,extra = #{extra}
		</if>
		<if test="status != null and status != ''">
		 ,status = #{status}
		</if>
		<if test="is_top != null and is_top != ''">
		 ,is_top = #{is_top}
		</if>
		WHERE
			obj_id = #{obj_id}
		AND obj_type = #{obj_type}
	</update>
	<!-- 查询该文章第一次推送的信息流id -->
	<select id="findTmpFeed" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_feed_push_tmp t
		WHERE
			t.obj_id = #{obj_id}
		AND t.obj_type = #{obj_type}
		AND t.is_push_again = 1
		AND t.is_push_type = 1
	</select>
	<!-- 根据feed_id查询当时推送的时间 -->
	<select id="findFirstTime" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_feed_filter f
		WHERE
			f.feed_id = #{feed_id}
		LIMIT 1
	</select>
	<!-- 根据信息流id删除已经写入的推送条件 -->
	<delete id="deleteFilter" parameterType="java.util.HashMap">
		DELETE
		FROM
			yj_feed_filter
		WHERE
			feed_id = #{feed_id}
	</delete>
	<!-- 根据信息流id删除已经写入的推送条件 -->
	<delete id="deleteFilterTmp" parameterType="java.util.HashMap">
		DELETE
		FROM
			yj_feed_filter_tmp
		WHERE
			feed_id = #{feed_id}
	</delete>
	<!-- 根据id查询当时推送的条件 -->
	<select id="findPushTmp" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_feed_push_tmp f
		WHERE
			f.id = #{feed_info_id}
	</select>
	<!-- 写入圈子信息流 -->
	<select id="insertCircleFeed" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		INSERT INTO yj_circle_feed (
			circle_id,
			title,
			summary,
			image,
			extra,
			obj_id,
			obj_type,
			create_time,
			user_id,
			author_type
		) SELECT
			#{circle_id},
			t.title,
			t.summary,
			t.image,
			t.extra,
			t.obj_id,
			t.obj_type,
			t.audit_time,
			t.audit_user_id,
			2
		FROM
			yj_feed_push_tmp t
		WHERE
			t.id = #{feed_info_id}
	</select>
	
	<!-- 查询已发布的信息流信息 -->
	<select id="fingFeedMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_feed f
		WHERE
			f.obj_id = #{obj_id}
		AND f.obj_type = #{obj_type}
		ORDER BY
			id DESC
		LIMIT 1
	</select>
	<!-- 根据已发布的信息流新增信息流 -->
	<insert id="insertFeedByFeed"  parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_feed (
			title,
			summary,
			image,
			extra,
			obj_id,
			obj_type,
			filter,
			author_id,
			author_name,
			author_type,
			create_time,
			audit_time
			<if test="is_good != null and is_good != ''">
				,is_good
			</if>
		) SELECT
			t.title,
			t.summary,
			t.image,
			t.extra,
			t.obj_id,
			t.obj_type,
			0,
			#{author_id},
			#{author_name},
			2,
			#{create_time},
			#{create_time}
			<if test="is_good != null and is_good != ''">
				,#{is_good}
			</if>
		FROM
			yj_feed t
		WHERE
			t.obj_id = #{obj_id}
		AND t.obj_type = #{obj_type}
		LIMIT 1
	</insert>
	<!-- 根据obj_id，obj_type，查询不是精华的信息流数据，是否在一天内（24小时内） -->
	<select id="findFeedInfor" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_feed
		WHERE
			obj_id = #{obj_id}
		AND obj_type = #{obj_type}
		AND is_good = 0
		<![CDATA[AND create_time > ${create_time} - 86400000]]>
		ORDER BY
			id DESC
		LIMIT 1
	</select>
	<!-- 不是精华的信息流数据，如果在一天内（24小时内）设置精华，则不产生新的信息流推送，而是将信息流修改，加上精华标签 -->
	<update id="updateGoodFeed" parameterType="java.util.HashMap">
		UPDATE yj_feed
		SET is_good = 1
		WHERE
			id = #{id}
	</update>
	<!-- 删除大小置顶 -->
	<update id="deleteFeedTmp" parameterType="java.util.HashMap">
		UPDATE yj_feed_filter_tmp
		SET `status` = #{status}
		WHERE
			feed_id IN (
				SELECT
					id
				FROM
					yj_feed
				WHERE
					obj_id = #{obj_id}
				AND obj_type = #{obj_type}
			)
	</update>
	<!-- 删除推送条件 -->
	<update id="deleteFeedFilter" parameterType="java.util.HashMap">
		UPDATE yj_feed_filter
		SET `status` = #{status}
		WHERE
			feed_id IN (
				SELECT
					id
				FROM
					yj_feed
				WHERE
					obj_id = #{obj_id}
				AND obj_type = #{obj_type}
			)
	</update>
	<!-- 根据id获取招商单位信息 -->
	<select id="findBusinessUnitById" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_business b
		WHERE
			b.id = #{obj_id}
	</select>
	<!-- 查询用户信息 -->
	<select id="findMember" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			m.USID user_id,
			m.USID id,
			m.REALNAME name,
			m.IMAGE img,
			m.USER_V v,
			m.COMPANY company,
			m.COMPANYWORK company_work
		FROM
			PRE_AL_MEMBER m
		WHERE
			m.USID = #{obj_id}
		AND m.AVAILABLE = 0
	</select>
	<!-- 当活动处于“进行中”状态时，后台“开启直播”，圈子-主页应该显示“正在直播”；首页-推荐页“向嘉宾提问”按钮改为“进入直播”按钮 -->
	<update id="updateFeedAndCircle" parameterType="java.util.HashMap">
		UPDATE yj_feed
		SET extra = #{extra},
		 audit_time = #{audit_time},
		 audit_user_id = #{audit_user_id},
		 audit_user_name = #{audit_user_name}
		WHERE
			obj_id = #{obj_id}
		AND obj_type = #{obj_type}
	</update>
	<!-- 当活动处于“进行中”状态时，后台“开启直播”，圈子-主页应该显示“正在直播”；首页-推荐页“向嘉宾提问”按钮改为“进入直播”按钮 -->
	<update id="updateCircleExtra" parameterType="java.util.HashMap">
		UPDATE yj_circle_feed
		SET extra = #{extra},
		 update_time = #{audit_time}
		WHERE
			obj_id = #{obj_id}
		AND obj_type = #{obj_type}
	</update>
	<!-- 删除大小置顶(真删) -->
	<delete id="deleteFeedTmpTrue" parameterType="java.util.HashMap">
		DELETE 
		FROM  yj_feed_filter_tmp
		WHERE
			feed_id IN (
				SELECT
					id
				FROM
					yj_feed
				WHERE
					obj_id = #{obj_id}
				AND obj_type = #{obj_type}
			)
	</delete>
	<!-- 删除信息流(真删) -->
	<update id="deleteFeedByObjIdTrue" parameterType="java.util.HashMap">
		DELETE
		FROM  yj_feed
		WHERE
			obj_id = #{obj_id}
		AND obj_type = #{obj_type}
	</update>
	<!--  删除圈子信息流(真删) -->
	<delete id="deleteCircleFeedByObjId" parameterType="java.util.HashMap">
		DELETE
		FROM  yj_circle_feed
		WHERE
			obj_id = #{obj_id}
		AND obj_type = #{obj_type}
	</delete>
	
	<update id="updateCircleFeed" parameterType="java.util.HashMap">
		UPDATE yj_circle_feed
			SET update_time = #{update_time}
			 <if test="is_good != null and is_good != ''">
			 ,is_good = #{is_good}
			</if>
			<if test="is_top != null and is_top != ''">
			 ,is_top = #{is_top}
			</if>
			<if test="status != null and status != ''">
			 ,`status` = ${status}
			</if>
			WHERE
				obj_id = #{id}
			AND obj_type = #{obj_type}
			AND `status` = 1
	</update>
</mapper>