<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.industry.IIndustryDao">
	
	<!-- 获取所有行业信息列表 -->
	<select id="findAllIndustryInfoLists" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			t.ID id,
			t.`NAME` name
			,t.SORT sort
		FROM
			PRE_COMMON_INDUSTRY t
		where 1=1 
		order by t.SORT desc
		<if test="y != null and y != '' and y != 0">
			LIMIT ${x},${y}
		</if>
	</select>
	
	<!-- 获取所有行业信息总数 -->
	<select id="findAllIndustryInfoCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			count(*) 
		FROM
			PRE_COMMON_INDUSTRY t
		where 1=1
	</select>
	
	<!-- 根据行业ID获取行业信息 -->
	<select id="getIndustryInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			t.ID id,
			t.`NAME` name
			,t.SORT sort
		FROM
			PRE_COMMON_INDUSTRY t
		where t.id = #{id}
	</select>
	
	<!-- 新增行业信息 -->
	<insert id="addIndustryInfo" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="roleid">
		INSERT INTO PRE_COMMON_INDUSTRY (
			NAME,
			SORT
		) values (
			#{name},#{sort}
		)
	</insert>
	
	<!-- 获取所有行业信息总数 -->
	<select id="findIndustrySort" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			max(sort)
		FROM
			PRE_COMMON_INDUSTRY t
		where 1=1
	</select>
	
	<!-- 修改行业信息 -->
	<update id="updateIndustryInfo" parameterType="java.util.HashMap">
		update PRE_COMMON_INDUSTRY set NAME = #{name}
		<if test="sort!=null and sort!=''">
			,SORT=#{sort}
		</if>
		where id = #{id}
	</update>
	
	<!-- 删除行业信息 -->
	<delete id="delIndustryInfo" parameterType="java.util.HashMap">
		delete from PRE_COMMON_INDUSTRY where id = #{id}
	</delete>
</mapper>