<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.login.ILoginDao">
	<select id="userLogin" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	 	SELECT
			t.id,
			t.username,
			t.password,
			t.sex,
			t.telephone,
			t.realname,
			t.status,
			t.createtime,
			t.role_id,
			t.state,
			yy.rolename
		FROM
			yj_yy_user t 
		LEFT join yj_yy_role yy on t.role_id = yy.roleid  where username=#{username} and t.state=1
	</select>
	<!-- 用户操作记录 -->
	<insert id="insertYYLog" parameterType="java.util.HashMap">
		INSERT INTO yj_yy_log (
			username
			<if test="realname != null and realname != ''">
				,realname
			</if>
			,content
			,ip
			<if test="parameter != null and parameter != ''">
				,parameter
			</if>
			,method
			,creat_time
			,user_id
		)
		VALUES
			(
				#{username}
				<if test="realname != null and realname != ''">
					,#{realname}
				</if>
				,#{content}
				,#{ip}
				<if test="parameter != null and parameter != ''">
					,#{parameter}
				</if>
				,#{method}
				,#{creat_time}
				,#{user_id}
			)
	</insert>
	<select id="getLastVersion" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	 	SELECT * FROM  chamber.PRE_COMMON_LATEST_VERSION t where t.SYSTEM = #{system} LIMIT 1 
	</select>
</mapper>