<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.morning.IMorningDao">

	<select id="findMorning" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT * FROM yj_morning ym where 1=1 
		<if test="status!=null and status!=''">
			and ym.status=#{status}
		</if>
		<if test="state!=null and state!=''">
			and ym.state in (${state})
		</if>
		<if test="title!=null and title!=''">
			and ym.title like '%${title}%'
		</if>
		<if test="start_time!=null and start_time!=''">
			and ym.create_time >=#{start_time}
		</if>
		<if test="end_time!=null and end_time!=''">
			<![CDATA[ and ym.create_time <=#{end_time} ]]> 
		</if>
		<if test="start_update_time!=null and start_update_time!=''">
			and ym.update_time >=#{start_update_time}
		</if>
		<if test="end_update_time!=null and end_update_time!=''">
			<![CDATA[ and ym.update_time <=#{end_update_time} ]]> 
		</if>
		<if test="start_periods!=null and start_periods!=''">
			and ym.periods>#{start_periods}
		</if>
		<if test="end_periods!=null and end_periods!=''">
			<![CDATA[ and ym.periods <=#{end_periods} ]]> 
		</if>
		order by 
			ym.periods desc,ym.update_time desc,ym.create_time desc
		<if test="y != null and y != '' and y != 0">
			LIMIT ${x},${y}
		</if>
	</select>
	
	<select id="getMorningById" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT * FROM yj_morning where id=#{id}
	</select>
	
	<select id="countMorning" parameterType="java.util.HashMap" resultType="Integer">
		SELECT count(*) FROM yj_morning ym where 1=1 
		<if test="status!=null and status!=''">
			and ym.status=#{status}
		</if>
		<if test="state!=null and state!=''">
			and ym.state in (${state})
		</if>
		<if test="title!=null and title!=''">
			and title like '%${title}%'
		</if>
		<if test="start_time!=null and start_time!=''">
			and create_time >=#{create_time}
		</if>
		<if test="end_time!=null and end_time!=''">
			<![CDATA[ and create_time <=#{create_time} ]]> 
		</if>
		<if test="start_update_time!=null and start_update_time!=''">
			and ym.update_time >=#{start_update_time}
		</if>
		<if test="end_update_time!=null and end_update_time!=''">
			<![CDATA[ and ym.update_time <=#{end_update_time} ]]> 
		</if>
		<if test="start_periods!=null and start_periods!=''">
			and ym.periods>#{start_periods}
		</if>
		<if test="end_periods!=null and end_periods!=''">
			<![CDATA[ and ym.periods <=#{end_periods} ]]> 
		</if>
	</select>
	
	<update id="deleteMorningById" parameterType="java.util.HashMap">
		update yj_morning set status=#{status},update_user_id = #{update_user_id},update_time=#{update_time}
		<if test="update_user_name != null and update_user_name != ''">
			,update_user_name=#{update_user_name}
		</if>
			,update_type=2
		where id=#{id}
	</update>
	
	<update id="updateMorningById" parameterType="java.util.HashMap">
		update yj_morning set update_time=#{update_time},update_user_id=#{update_user_id}
		<if test="title!=null and title!=''">
			,title=#{title}
		</if>
		<if test="periods!=null and periods!=''">
			,periods= #{periods}
		</if>
		<if test="summary!=null">
			,summary=#{summary}
		</if>
		<if test="content!=null and content!=''">
			,content=#{content}
		</if>
		<if test="issue!=null and issue!=''">
			,issue=#{issue}
		</if>
		<if test="state!=null and state!=''">
			,state=#{state}
		</if>
		<if test="status!=null and status!=''">
			,status=#{status}
		</if>
		<if test="is_top!=null and is_top!=''">
			,is_top=#{is_top}
		</if>
		<if test="show_times_count!=null and show_times_count!=''">
			,show_times_count=#{show_times_count}
		</if>
		<if test="show_people_count!=null and show_people_count!=''">
			,show_people_count = #{show_people_count}
		</if>
		<if test="visit_times_count!=null and visit_times_count!=''">
			,visit_times_count=#{visit_times_count}
		</if>
		<if test="visit_people_count!=null and visit_people_count!=''">
			,visit_people_count=#{visit_people_count}
		</if>
		<if test="zan_count!=null and zan_count!=''">
			,zan_count=#{zan_count}
		</if>
		<if test="favorite_count!=null and favorite_count!=''">
			,favorite_count=#{favorite_count}
		</if>
		<if test="share_count!=null and share_count!=''">
			,share_count=#{share_count}
		</if>
		<if test="comment_count!=null and comment_count!=''">
			,comment_count=#{comment_count}
		</if>
		<if test="view_times_count_all!=null and view_times_count_all!=''">
			,view_times_count_all=#{view_times_count_all}
		</if>
		<if test="view_people_count_all!=null and view_people_count_all!=''">
			,view_people_count_all=#{view_people_count_all}
		</if>
		<if test="zan_count_all!=null and zan_count_all!=''">
			,zan_count_all=#{zan_count_all}
		</if>
		<if test="favorite_count_all!=null and favorite_count_all!=''">
			,favorite_count_all=#{favorite_count_all}
		</if>
		<if test="share_count_all!=null and share_count_all!=''">
			,share_count_all=#{share_count_all}
		</if>
		<if test="comment_count_all!=null and comment_count_all!=''">
			,comment_count_all=#{comment_count_all}
		</if>
		<if test="audit_user_id!=null and audit_user_id!=''">
			,audit_user_id=#{audit_user_id}
		</if>
		<if test="audit_user_name!=null and audit_user_name!=''">
			,audit_user_name=#{audit_user_name}
		</if>
		<if test="audit_time!=null and audit_time!=''">
			,audit_time=#{audit_time}
		</if>
		<if test="audit_opinion!=null and audit_opinion!=''">
			,audit_opinion=#{audit_opinion}
		</if>
		<if test="update_user_name !=null and update_user_name !=''">
			,update_user_name=#{update_user_name}
			,update_type=2
		</if>
		where id=#{id}
	</update>
	
	<insert id="insertMorning" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO yj_morning (title,periods,summary,content,author_id,author_name,create_time,state,status,update_time)VALUE(#{title},#{periods},#{summary},#{content},#{user_id},#{user_name},#{create_time},#{state},1,#{create_time})
	</insert>
	
</mapper>