<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.circlerole.ICircleRoleDao">
	
	<!-- 获取所有圈角色信息列表 -->
	<select id="findAllCircleRoleInfoLists" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select t.id,t.rolename name,t.createtime,t.`status` status,t.roletype,t.sort 
		  from yj_yy_circlerole t 
		 where t.`status`=1
		order by t.sort asc,t.createtime desc
		<if test="y != null and y != '' and y != 0">
			LIMIT ${x},${y}
		</if>
	</select>
	
	<!-- 获取所有圈角色信息总数 -->
	<select id="findAllCircleRoleInfoCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			count(*) 
			from yj_yy_circlerole t 
		 where t.`status`=1
		<if test="name !=null and name !=''">
			and t.rolename like '%${name}%'
		</if>
	</select>
	
	<!-- 根据圈角色ID获取圈角色信息 -->
	<select id="getCircleRoleInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			t.id,t.rolename name,t.createtime,t.`status` status,t.roletype,t.sort
		from yj_yy_circlerole t
		where t.id = #{id}
	</select>
	
	<!-- 新增圈角色信息 -->
	<insert id="addCircleRoleInfoold" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="roleid">
		INSERT INTO yj_circle_role (
			name,
			create_time,
			status,
			dictionaries_id,
			create_user_id,
			sort,
			user_type
		) values (
			#{name},#{create_time},1,#{dictionariesid},#{operateid},#{sort},#{usertype}
		)
	</insert>
		<!-- 新增圈角色信息 -->
	<insert id="addCircleRoleInfo" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="roleid">
		INSERT INTO yj_yy_circlerole (
			rolename,
			createtime,
			status,
			sort,
			roletype
		) values (
			#{name},#{create_time},1,#{sort},#{roletype}
		)
	</insert>
	
	<!-- 修改圈角色信息 -->
	<update id="updateCircleRoleInfo" parameterType="java.util.HashMap">
		update yj_yy_circlerole set rolename = #{name},roletype = #{roletype},sort = #{sort}
		where id = #{id}
	</update>
	
	<!-- 删除圈角色信息 -->
	<delete id="delCircleRoleInfo" parameterType="java.util.HashMap">
		update yj_yy_circlerole set status = 2
		where id = #{id}
	</delete>
	
	<!-- 获取所有圈角色信息列表 -->
	<select id="findCircleLists" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select t.id,t.title from yj_circle t where t.`status`=1 and t.state=1
	</select>
	
	<!-- 获取所有圈角色信息列表 -->
	<select id="findCircleRoleTypeLists" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from yj_common_dict t where t.type=9
	</select>
</mapper>