<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.pushdevice.IPushDeviceDao">
	<!-- 获取设备推送信息列表 -->
	<select id="findPushDeviceList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			t.*,
			ya.title article_title
		FROM
			yj_feed_push_tmp t left join yj_article_association ya on t.obj_id = ya.obj_id and t.obj_type = ya.obj_type
		WHERE
			t.is_push_type = 2 and t.all_user in (0,1) 
		<if test="status != null and status != ''">
			AND t.status = ${status}
		</if>
		<if test="state != null and state != ''">
			AND t.state = ${state}
		</if>
		<if test="startcreatetime != null and startcreatetime != ''">
			and t.create_time >=#{startcreatetime}
		</if>
		<if test="endcreatetime !=null and endcreatetime !=''">
			<![CDATA[ and t.create_time <=#{endcreatetime} ]]> 
		</if>
		<if test="startchecktime != null and startchecktime != ''">
			and t.audit_time >=#{startchecktime}
		</if>
		<if test="endchecktime !=null and endchecktime !=''">
			<![CDATA[ and t.audit_time <=#{endchecktime} ]]> 
		</if>
		<if test="keywords != null and keywords != ''">
			AND (t.title LIKE '%${keywords}%' OR t.summary LIKE '%${keywords}%')
		</if>
		ORDER BY
		<if test="state == 2 or state == '2'">
			t.create_time desc
		</if>
		<if test="state != 2">
			t.audit_time desc,t.create_time desc
		</if>
			
		<if test="y != null and y != '' and y != 0">
			LIMIT ${x},${y}
		</if>
	</select>
	
	<!-- 获取设备推送信息总数 -->
	<select id="findPushDeviceListCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			count(*)
		FROM
			yj_feed_push_tmp t left join yj_article_association ya on t.obj_id = ya.obj_id and t.obj_type = ya.obj_type
		WHERE
			t.is_push_type = 2 and t.all_user in (0,1)
		<if test="status != null and status != ''">
			AND t.status = ${status}
		</if>
		<if test="state != null and state != ''">
			AND t.state = ${state}
		</if>
		<if test="startcreatetime != null and startcreatetime != ''">
			and t.create_time >=#{startcreatetime}
		</if>
		<if test="endcreatetime !=null and endcreatetime !=''">
			<![CDATA[ and t.create_time <=#{endcreatetime} ]]> 
		</if>
		<if test="startchecktime != null and startchecktime != ''">
			and t.audit_time >=#{startchecktime}
		</if>
		<if test="endchecktime !=null and endchecktime !=''">
			<![CDATA[ and t.audit_time <=#{endchecktime} ]]> 
		</if>
		<if test="keywords != null and keywords != ''">
			AND (t.title LIKE '%${keywords}%' OR t.summary LIKE '%${keywords}%')
		</if>
	</select>
	
	<!-- 审核设备推送信息 -->
	<update id="checkPushDeviceInfo" parameterType="java.util.HashMap">
		update yj_feed_push_tmp set state = ${state} , audit_user_id = ${audit_user_id},audit_user_name = #{audit_user_name},audit_time = ${audit_time} where id = ${id}
	</update>
	
	<!-- 删除/恢复设备推送信息 -->
	<update id="updatePushDeviceStatus" parameterType="java.util.HashMap">
		update yj_feed_push_tmp set status = ${status}, audit_user_id = ${audit_user_id},audit_user_name = #{audit_user_name},audit_time = ${audit_time} where id = ${id}
	</update>
	
	<!-- 获取设备推送信息-->
	<select id="findFeedInfoCount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select all_user from yj_feed_push_tmp t where t.id = ${id}
	</select>
	
	<!-- 查看推送用户信息列表 -->
	<select id="findPushDeviceMemberList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select b.usid,b.realname,b.company,b.companywork,DATE_FORMAT(b.createdate,'%Y-%m-%d %H:%i:%s') createdate,REGISTRATIONID,imei from (
			SELECT
				*
			FROM
				PRE_AL_MEMBER p
			WHERE
				p.usid IN (
					SELECT
						cu.usid
					FROM
						PRE_COMMON_USER_INDUSTRY cu,
						yj_feed_push_tmp t
					WHERE
						cu.STATE = 1
						AND LOCATE(
								CONCAT(',', cu.industry, ','),
								CONCAT(',', t.industry_names, ',')
							) > 0
					<if test="id !=null and id != ''">
						and t.id = ${id}
					</if>
					<if test="feed_id !=null and feed_id != ''">
						and t.feed_id = ${feed_id}
					</if>
				)
			UNION ALL
				SELECT
					*
				FROM
					PRE_AL_MEMBER pp
				WHERE
					pp.username IN (
						SELECT
							ps.username
						FROM
							PRE_AL_SHMEMBER ps,
							yj_feed_push_tmp tt
						WHERE 1=1
							<if test="id !=null and id != ''">
										and tt.id = ${id}
									</if>
									<if test="feed_id !=null and feed_id != ''">
										and tt.feed_id = ${feed_id}
									</if>
						AND LOCATE(
							CONCAT(',', ps.shanghuiid, ','),
							CONCAT(',', tt.sh_ids, ',')
						) > 0
					)
				UNION ALL
					SELECT
						*
					FROM
						PRE_AL_MEMBER ppp
					WHERE
						ppp.usid IN (
							SELECT
								yc.user_id
							FROM
								yj_circle_user yc,
								yj_feed_push_tmp ttt
							WHERE 1=1
								<if test="id !=null and id != ''">
										and ttt.id = ${id}
									</if>
									<if test="feed_id !=null and feed_id != ''">
										and ttt.feed_id = ${feed_id}
									</if>
							AND yc. STATUS = 1
							AND LOCATE(
								CONCAT(',', yc.circle_id, ','),
								CONCAT(',', ttt.circle_ids, ',')
							) > 0
						)
			UNION ALL 
				SELECT
						*
					FROM
						PRE_AL_MEMBER pppp
					WHERE
						pppp.usid IN (
							SELECT
								yu.user_id
							FROM
								yj_yy_usergroup_user yu,
								yj_feed_push_tmp tttt
							WHERE 1=1
								<if test="id !=null and id != ''">
										and tttt.id = ${id}
									</if>
									<if test="feed_id !=null and feed_id != ''">
										and tttt.feed_id = ${feed_id}
									</if>
							AND LOCATE(
								CONCAT(',', yu.group_id, ','),
								CONCAT(',', tttt.usergroup_ids, ',')
							) > 0
						)
			UNION ALL
				select a.* from PRE_AL_MEMBER a,yj_feed_push_tmp tf where 1=1
				
				<if test="id !=null and id != ''">
					and tf.id = ${id}
				</if>
				<if test="feed_id !=null and feed_id != ''">
					and tf.feed_id = ${feed_id}
				</if>
				
				and  LOCATE(
								CONCAT(',', a.usid, ','),
								CONCAT(',', tf.user_ids, ',')
							) > 0
			UNION ALL
				select r.* from PRE_AL_MEMBER r,yj_feed_push_tmp rtf where 1=1
				
				<if test="id !=null and id != ''">
					and rtf.id = ${id}
				</if>
				<if test="feed_id !=null and feed_id != ''">
					and rtf.feed_id = ${feed_id}
				</if>
				
				and  LOCATE(
								CONCAT(',', r.RESIDE_ID, ','),
								CONCAT(',', rtf.region_ids, ',')
							) > 0
			UNION ALL
				select n.* from PRE_AL_MEMBER n,yj_feed_push_tmp ntf where 1=1
				
				<if test="id !=null and id != ''">
					and ntf.id = ${id}
				</if>
				<if test="feed_id !=null and feed_id != ''">
					and ntf.feed_id = ${feed_id}
				</if>
				
				and  LOCATE(
								CONCAT(',', n.NATIVEINFO_ID, ','),
								CONCAT(',', ntf.nativeplace_ids, ',')
							) > 0
			) b where 1=1
			<if test="realname != null and realname != ''">
				and b.realname like '%${realname}%'
			</if>
			 group by b.usid  
			 <if test="y != null and y != '' and y != 0">
				LIMIT ${x},${y}
			</if>
			
	</select>
	
	<!-- 查看推送用户信息总数 -->
	<select id="findPushDeviceMemberListCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			count(*) from
		( select b.*
		FROM
			(
				SELECT
					*
				FROM
					PRE_AL_MEMBER p
				WHERE
					p.usid IN (
						SELECT
							cu.usid
						FROM
							PRE_COMMON_USER_INDUSTRY cu,
							yj_feed_push_tmp t
						WHERE
							t.industry_names LIKE CONCAT('%', cu.industry, '%')
						AND cu.STATE = 1
						<if test="id !=null and id != ''">
										and t.id = ${id}
									</if>
									<if test="feed_id !=null and feed_id != ''">
										and t.feed_id = ${feed_id}
									</if>
					)
				UNION ALL
					SELECT
						*
					FROM
						PRE_AL_MEMBER pp
					WHERE
						pp.username IN (
							SELECT
								ps.username
							FROM
								PRE_AL_SHMEMBER ps,
								yj_feed_push_tmp tt
							WHERE 1=1
								<if test="id !=null and id != ''">
										and tt.id = ${id}
									</if>
									<if test="feed_id !=null and feed_id != ''">
										and tt.feed_id = ${feed_id}
									</if>
							AND LOCATE(
								CONCAT(',', ps.shanghuiid, ','),
								CONCAT(',', tt.sh_ids, ',')
							) > 0
						)
					UNION ALL
						SELECT
							*
						FROM
							PRE_AL_MEMBER ppp
						WHERE
							ppp.usid IN (
								SELECT
									yc.user_id
								FROM
									yj_circle_user yc,
									yj_feed_push_tmp ttt
								WHERE 1=1
									<if test="id !=null and id != ''">
										and ttt.id = ${id}
									</if>
									<if test="feed_id !=null and feed_id != ''">
										and ttt.feed_id = ${feed_id}
									</if>
								AND yc. STATUS = 1
								AND LOCATE(
									CONCAT(',', yc.circle_id, ','),
									CONCAT(',', ttt.circle_ids, ',')
								) > 0
							)
						UNION ALL
							SELECT
								*
							FROM
								PRE_AL_MEMBER pppp
							WHERE
								pppp.usid IN (
									SELECT
										yu.user_id
									FROM
										yj_yy_usergroup_user yu,
										yj_feed_push_tmp tttt
									WHERE 1=1
									<if test="id !=null and id != ''">
										and tttt.id = ${id}
									</if>
									<if test="feed_id !=null and feed_id != ''">
										and tttt.feed_id = ${feed_id}
									</if>
									AND LOCATE(
										CONCAT(',', yu.group_id, ','),
										CONCAT(',', tttt.usergroup_ids, ',')
									) > 0
								)
							UNION ALL
								SELECT
									a.*
								FROM
									PRE_AL_MEMBER a,
									yj_feed_push_tmp tf
								WHERE 1=1
								<if test="id !=null and id != ''">
									and tf.id = ${id}
								</if>
								<if test="feed_id !=null and feed_id != ''">
									and tf.feed_id = ${feed_id}
								</if>
								AND LOCATE(
									CONCAT(',', a.usid, ','),
									CONCAT(',', tf.user_ids, ',')
								) > 0
			) b
		WHERE
			1 = 1
			<if test="realname != null and realname != ''">
				and b.realname like '%${realname}%'
			</if>
		GROUP BY
			b.usid
		) m
	</select>
	
	<!-- 查看推送用户信息列表 -->
	<select id="findAllPushDeviceMemberList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select t.usid,t.realname,t.company,t.companywork,DATE_FORMAT(t.createdate,'%Y-%m-%d %H:%i:%s') createdate,REGISTRATIONID from PRE_AL_MEMBER t where 1=1 and t.AVAILABLE = 0
		<if test="realname != null and realname != ''">
				and t.realname like '%${realname}%'
		</if>
		<if test="y != null and y != '' and y != 0">
				LIMIT ${x},${y}
		</if>
	</select>
	
	<!-- 查看推送用户信息总数 -->
	<select id="findAllPushDeviceMemberListCount" parameterType="java.util.HashMap" resultType="Integer">
		select count(*) from PRE_AL_MEMBER t where 1=1 and t.AVAILABLE = 0
		<if test="realname != null and realname != ''">
			and t.realname like '%${realname}%'
		</if>
	</select>
	
	<select id="findDeviceInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			t.all_user sb_all_user,
			t.author_id sb_author_id,
			t.author_name sb_author_name,
			t.content_imei sb_content_imei,
			t.create_time sb_create_time,
			t.display_position sb_display_position,
			t.extra sb_extra,
			t.id sb_id,
			t.obj_id sb_obj_id,
			t.obj_type sb_obj_type,
			t.title_imei sb_title_imei,
			t.sh_ids sb_sh_ids,
			t.sh_names sb_sh_names,
			t.industry_ids sb_industry_ids,
			t.industry_names sb_industry_names,
			t.region_ids sb_region_ids,
			t.region_names sb_region_names,
			t.nativeplace_ids sb_nativeplace_ids,
			t.nativeplace_names sb_nativeplace_names,
			t.usergroup_ids sb_usergroup_ids,
			t.usergroup_names sb_usergroup_names,
			t.circle_ids sb_circle_ids,
			t.circle_names sb_circle_names,
			t.user_ids sb_user_ids,
			t.user_names sb_user_names
		FROM
			yj_feed_push_tmp t where t.id = ${id}
	</select>
	
	<select id="findDeviceByObjidAndObjType" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from yj_feed_push_tmp t where t.obj_id = ${obj_id} and t.obj_type = #{obj_type} and t.is_push_again = 1
	</select>
	
	<select id="findFeedTmpbyFeedid" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from yj_feed_filter_tmp t where t.feed_id = ${feed_id}
	</select>
	
	<!-- 新增我的消息 -->
	<insert id="insertInformation" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_information (
				title,
				content,
				filter,
				author_id,
				author_name,
				create_time
				<if test="obj_id != null and obj_id != ''">
					,obj_id
				</if>
				<if test="obj_type != null and obj_type != ''">
					,obj_type
				</if>
				<if test="obj_title != null and obj_title != ''">
					,obj_title
				</if>
				<if test="url != null and url != ''">
					,url
				</if>
				<if test="type != null and type != ''">
					,type
				</if>
			)
			VALUES
				(
					#{title},
					#{content},
					#{filter},
					#{author_id},
					#{author_name},
					#{create_time}
					<if test="obj_id != null and obj_id != ''">
						,#{obj_id}
					</if>
					<if test="obj_type != null and obj_type != ''">
						,#{obj_type}
					</if>
					<if test="obj_title != null and obj_title != ''">
						,#{obj_title}
					</if>
					<if test="url != null and url != ''">
						,#{url}
					</if>
					<if test="type != null and type != ''">
						,#{type}
					</if>
				)
	</insert>
	
	<!-- 新增我的消息 -->
	<insert id="insertInformationByList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_information (
				title,
				content,
				filter,
				author_id,
				author_name,
				create_time,
                obj_id,
			    obj_type,
			    obj_title
			
			)
			VALUES
			<foreach collection="list" item="item" index="index" separator="," >
				(
				
					#{item.title},
					#{item.content},
					#{item.filter},
					#{item.author_id},
					#{item.author_name},
					#{item.create_time},
					#{item.obj_id},
				    #{item.obj_type},
				    #{item.obj_title}
				
			
				)
			</foreach>
	</insert>
	
	<!-- 新增我的消息查看条件 -->
	<insert id="insertInformationFilterByList" parameterType="java.util.List">
		INSERT INTO yj_information_filter (
				information_id,
				filter,
				create_time,
				push_time
			)
			VALUES
			<foreach collection="list" item="item" index="index" separator="," >
				(
				
					#{item.id},
					#{item.filter},
					#{item.create_time},
					#{item.create_time}
				
				)
			</foreach>
	</insert>
	
	<!-- 新增我的消息查看条件 -->
	<insert id="insertInformationFilter" parameterType="java.util.HashMap">
		INSERT INTO yj_information_filter (
				information_id,
				filter,
				create_time,
				push_time
			)
			VALUES
				(
					#{id},
					#{filter},
					#{create_time},
					#{create_time}
				)
	</insert>
</mapper>