<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.activity.IActivityDao">
	<!-- 获取活动列表总条数 -->
	<select id="findActivityCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			COUNT(*) count
		FROM
			(
				SELECT
					a.id,
					a.title,
					a.start_time,
					a.end_time,
					a.author_id,
					a.author_name,
					a.create_time,
					a.update_time,
					a.live_url,
					(
						select yjp.circle_nr_names from yj_feed_push_tmp yjp
						where yjp.is_push_again=1
						  and yjp.is_push_type=1
							and yjp.obj_id=a.id
							and yjp.obj_type=4
					) circle_title,
					a.`status`,
					a.state
				FROM
					yj_activity a
			) t
		WHERE
			t.`status` = #{status}
		<if test="state != null and state != ''">
			AND t.state IN (${state})
		</if>
		<if test="create_start_time != null and create_start_time != ''">
			AND t.create_time >= #{create_start_time}
		</if>
		<if test="create_end_time != null and create_end_time != ''">
			<![CDATA[AND t.create_time <= #{create_end_time}]]>
		</if>
		<if test="start_start_time != null and start_start_time != ''">
			AND t.start_time >= #{start_start_time}
		</if>
		<if test="start_end_time != null and start_end_time != ''">
			<![CDATA[AND t.start_time <= #{start_end_time}]]>
		</if>
		<if test="startupdatetime != null and startupdatetime != ''">
			AND t.update_time >= #{startupdatetime}
		</if>
		<if test="endupdatetime != null and endupdatetime != ''">
			<![CDATA[AND t.update_time <= #{endupdatetime}]]>
		</if>
		<if test="is_start != null and is_start != ''">
			AND t.is_start = #{is_start}
		</if>
		<if test="title != null and title != ''">
			AND t.title LIKE '%${title}%'
		</if>
		<if test="circle_title != null and circle_title != ''">
			AND t.circle_title LIKE '%${circle_title}%'
		</if>
	</select>
	<!-- 获取活动列表 -->
	<select id="findActivityList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			(
				SELECT
					a.id,
					a.title,
					a.start_time,
					a.end_time,
					a.author_id,
					a.author_name,
					a.author_type,
					a.create_time,
					a.update_time,
					a.update_id,
					a.update_name,
					(
						select yjp.circle_nr_ids from yj_feed_push_tmp yjp
						where yjp.is_push_again=1
						  and yjp.is_push_type=1
							and yjp.obj_id=a.id
							and yjp.obj_type=4
					) circle_nr_ids,
					(
						select yjp.circle_nr_names from yj_feed_push_tmp yjp
						where yjp.is_push_again=1
						  and yjp.is_push_type=1
							and yjp.obj_id=a.id
							and yjp.obj_type=4
					) circle_title,
					a.`status`,
					a.state,
					a.is_live,
					a.is_start,
					a.show_times_count,
					a.show_people_count,
					a.visit_times_count,
					a.visit_people_count,
					a.view_times_count_all,
					a.view_people_count_all,
					a.wx_visit_times_count,
					a.wx_visit_people_count,
					a.comment_count,
					a.comment_count_all,
					a.share_count,
					a.share_count_all,
					a.zan_count,
					a.favorite_count,
					a.zan_count_all,
					a.favorite_count_all,
					a.audit_user_id,
					a.audit_user_name,
					a.audit_time,
					a.is_good,
					a.is_top,
					4 as obj_type,
					a.follow_count_all,
					a.follow_count,
					a.audit_opinion
				FROM
					yj_activity a
			) t
		WHERE
			t.`status` = #{status}
		<if test="state != null and state != ''">
			AND t.state IN (${state})
		</if>
		<if test="create_start_time != null and create_start_time != ''">
			AND t.create_time >= #{create_start_time}
		</if>
		<if test="create_end_time != null and create_end_time != ''">
			<![CDATA[AND t.create_time <= #{create_end_time}]]>
		</if>
		<if test="start_start_time != null and start_start_time != ''">
			AND t.start_time >= #{start_start_time}
		</if>
		<if test="start_end_time != null and start_end_time != ''">
			<![CDATA[AND t.start_time <= #{start_end_time}]]>
		</if>
		<if test="startupdatetime != null and startupdatetime != ''">
			AND t.update_time >= #{startupdatetime}
		</if>
		<if test="endupdatetime != null and endupdatetime != ''">
			<![CDATA[AND t.update_time <= #{endupdatetime}]]>
		</if>
		<if test="is_start != null and is_start != ''">
			AND t.is_start = #{is_start}
		</if>
		<if test="title != null and title != ''">
			AND t.title LIKE '%${title}%'
		</if>
		<if test="circle_title != null and circle_title != ''">
			AND t.circle_title LIKE '%${circle_title}%'
		</if>
		ORDER BY
			t.update_time desc,
			t.create_time desc
		<if test="y != null and y != ''">
			LIMIT ${x},${y}
		</if>
	</select>
	<!-- 查询活动详情 -->
	<select id="findActivityDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_activity a
		WHERE
			id = #{id}
	</select>
	<!-- 查询活动分享嘉宾 -->
	<select id="findActivityGuest" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT id,activity_id,user_id,user_avatar,user_type,user_name,user_identity,user_v,display_order,status,update_time,g.is_send	
		FROM yj_activity_guest g
		WHERE
			g.activity_id = #{id}
	</select>
	<!-- 审核活动 -->
	<update id="auditActivity" parameterType="java.util.HashMap">
		UPDATE yj_activity
		SET audit_type = 2
		 ,audit_user_id = #{audit_user_id}
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="audit_time != null and audit_time != ''">
		 	,audit_time = #{audit_time}
		 </if>
		 <if test="audit_opinion != null and audit_opinion != ''">
		 	,audit_opinion = #{audit_opinion}
		 </if>
		 <if test="state != null and state != ''">
		 	,state = #{state}
		 </if>
		 <if test="status != null and status != ''">
		 	,status = #{status}
		 </if>
		 <if test="title != null and title != ''">
		 	,title = #{title}
		 </if>
		 <if test="start_time != null and start_time != ''">
		 	,start_time = #{start_time}
		 </if>
		 <if test="end_time != null and end_time != ''">
		 	,end_time = #{end_time}
		 </if>
		 <if test="update_time != null and update_time != ''">
		 	,update_time = #{update_time}
		 	,update_type = 2
		 </if>
		 <if test="update_id != null and update_id != ''">
		 	,update_id = #{update_id}
		 </if>
		 <if test="update_name != null and update_name != ''">
		 	,update_name = #{update_name}
		 </if>
		 <if test="place != null and place != ''">
		 	,place = #{place}
		 </if>
		 <if test="address != null">
		 	,address = #{address}
		 </if>
		 <if test="subject != null and subject != ''">
		 	,`subject` = #{subject}
		 </if>
		 <if test="content != null and content != ''">
		 	,content = #{content}
		 </if>
		 <if test="live_url != null">
		 	,live_url = #{live_url}
		 </if>
		WHERE
			id IN (${id})
	</update>
	<!-- 新增活动 -->
	<insert id="insertActivity" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_activity (
			title
			,author_id
			<if test="author_name != null and author_name != ''">
				,author_name
			</if>
			,create_time
			,update_time
			,start_time
			,end_time
			,place
			,address
			<if test="subject != null and subject != ''">
				,`subject`
			</if>
			<if test="state!=null and state!=''">
				,state
			</if>
			,content
			,author_type
			<if test="live_url != null and live_url != ''">
				,live_url
			</if>
		)
		VALUES
			(
				#{title}
				,#{author_id}
				<if test="author_name != null and author_name != ''">
					,#{author_name}
				</if>
				,#{create_time}
				,#{create_time}
				,#{start_time}
				,#{end_time}
				,#{place}
				,#{address}
				<if test="subject != null and subject != ''">
					,#{subject}
				</if>
				<if test="state!=null and state!=''">
					,#{state}
				</if>
				,#{content}
				,2
				<if test="live_url != null and live_url != ''">
					,#{live_url}
				</if>
			)
	</insert>
	<!-- 新增活动相关报道 -->
	<insert id="insertActivityRelated" parameterType="java.util.HashMap">
		INSERT INTO yj_activity_related (
			activity_id,
			create_time
			<if test="obj_id != null and obj_id != ''">
				,obj_id
			</if>
			<if test="article_title != null and article_title != ''">
				,article_title
			</if>
			<if test="obj_type != null and obj_type != ''">
				,obj_type
			</if>
			<if test="url != null and url != ''">
				,url
			</if>
			<if test="display_order != null and display_order != ''">
				,display_order
			</if>
			<if test="show_title != null and show_title != ''">
				,show_title
			</if>
		)
		VALUES
			(
				#{activity_id},
				#{create_time}
				<if test="obj_id != null and obj_id != ''">
					,#{obj_id}
				</if>
				<if test="article_title != null and article_title != ''">
					,#{article_title}
				</if>
				<if test="obj_type != null and obj_type != ''">
					,#{obj_type}
				</if>
				<if test="url != null and url != ''">
					,#{url}
				</if>
				<if test="display_order != null and display_order != ''">
					,#{display_order}
				</if>
				<if test="show_title != null and show_title != ''">
					,#{show_title}
				</if>
			)
	</insert>
	
	<!-- 删除活动相关 -->
	<delete id="deleteActivityRelated" parameterType="java.util.HashMap">
		delete from yj_activity_related where activity_id = #{activity_id}
	</delete>
	
	<!-- 修改活动相关报道 -->
	<update id="updateActivityRelated" parameterType="java.util.HashMap">
		UPDATE yj_activity_related
		SET update_time = #{update_time}
		 <if test="article_id != null and article_id != ''">
		 	,article_id = #{article_id}
		 </if>
		 <if test="article_title != null and article_title != ''">
		 	,article_title = #{article_title}
		 </if>
		 <if test="article_type != null and article_type != ''">
		 	,article_type = #{article_type}
		 </if>
		 <if test="url != null and url != ''">
		 	,url = #{url}
		 </if>
		 <if test="status != null and status != ''">
		 	,`status` = #{status}
		 </if>
		WHERE
			id = #{id}
	</update>
	<!-- 新增活动精彩内容 -->
	<insert id="insertActivitySummary" parameterType="java.util.HashMap">
		INSERT INTO yj_activity_summary (
			user_id
			,activity_id
			<if test="user_avatar != null and user_avatar != ''">
				,user_avatar
			</if>
			<if test="user_name != null and user_name != ''">
				,user_name
			</if>
			<if test="user_identity != null and user_identity != ''">
				,user_identity
			</if>
			<if test="user_v != null and user_v != ''">
				,user_v
			</if>
				,user_type
			<if test="content != null and content != ''">
				,content
			</if>
			<if test="image != null and image != ''">
				,image
			</if>
			,create_time
		)
		VALUES
			(
				#{user_id}
				,#{activity_id}
				<if test="user_avatar != null and user_avatar != ''">
					,#{user_avatar}
				</if>
				<if test="user_name != null and user_name != ''">
					,#{user_name}
				</if>
				<if test="user_identity != null and user_identity != ''">
					,#{user_identity}
				</if>
				<if test="user_v != null and user_v != ''">
					,#{user_v}
				</if>
					,2
				<if test="content != null and content != ''">
					,#{content}
				</if>
				<if test="image != null and image != ''">
					,#{image}
				</if>
				,#{create_time}
			)
	</insert>
	<delete id="deleteActivitySummary" parameterType="java.util.HashMap">
		delete from  yj_activity_summary where activity_id=#{activity_id}
	</delete>
	<!-- 修改活动精彩内容 -->
	<update id="updateActivitySummary" parameterType="java.util.HashMap">
		UPDATE yj_activity_summary
		SET update_time = #{update_time}
		 <if test="content != null and content != ''">
		 	,content = #{content}
		 </if>
		 <if test="image != null and image != ''">
		 	,image = #{image}
		 </if>
		 <if test="status != null and status != ''">
		 	,`status` = #{status}
		 </if>
		WHERE
			id = #{id}
	</update>
	<!-- 新增活动分享嘉宾 -->
	<insert id="insertActivityGuest" parameterType="java.util.HashMap">
		INSERT INTO yj_activity_guest (
			activity_id
			,user_id
			<if test="user_avatar != null and user_avatar != ''">
				,user_avatar
			</if>
			,user_type
			,user_name
			<if test="user_identity != null and user_identity != ''">
				,user_identity
			</if>
			<if test="user_v != null and user_v != ''">
				,user_v
			</if>
			<if test="is_send != null and is_send != ''">
				,is_send
			</if>
			,display_order
		)
		VALUES
			(
				#{activity_id}
				,#{user_id}
				<if test="user_avatar != null and user_avatar != ''">
					,#{user_avatar}
				</if>
				,#{user_type}
				,#{user_name}
				<if test="user_identity != null and user_identity != ''">
					,#{user_identity}
				</if>
				<if test="user_v != null and user_v != ''">
					,#{user_v}
				</if>
				<if test="is_send != null and is_send != ''">
					,#{is_send}
				</if>
				,#{display_order}
			)
	</insert>
	<!-- 删除活动分享嘉宾 -->
	<delete id="deleteActivityGuest" parameterType="java.util.HashMap">
		delete from yj_activity_guest where activity_id = #{activity_id}
	</delete>
	<!-- 修改活动分享嘉宾 -->
	<update id="updateActivityGuest" parameterType="java.util.HashMap">
		UPDATE yj_activity_guest
		SET update_time = #{update_time}
		 <if test="user_id != null and user_id != ''">
		 	,user_id = #{user_id}
		 </if>
		 <if test="user_avatar != null and user_avatar != ''">
		 	,user_avatar = #{user_avatar}
		 </if>
		 <if test="user_type != null and user_type != ''">
		 	,user_type = #{user_type}
		 </if>
		 <if test="user_name != null and user_name != ''">
		 	,user_name = #{user_name}
		 </if>
		 <if test="user_identity != null and user_identity != ''">
		 	,user_identity = #{user_identity}
		 </if>
		 <if test="user_v != null and user_v != ''">
		 	,user_v = #{user_v}
		 </if>
		 <if test="display_order != null and display_order != ''">
		 	,display_order = #{display_order}
		 </if>
		 <if test="status != null and status != ''">
		 	,`status` = #{status}
		 </if>
		WHERE
			id = #{id}
	</update>
	<!-- 查询活动精彩内容详情 -->
	<select id="findActivitySummary" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_activity_summary s
		WHERE
			activity_id = #{activity_id}
	</select>
	<!-- 修改活动 -->
	<update id="updateActivity" parameterType="java.util.HashMap">
		UPDATE yj_activity
		SET update_time = #{update_time},
			update_type = 2
		 <if test="update_id != null and update_id != ''">
		 	,update_id = #{update_id}
		 </if>
		 <if test="update_name != null and update_name != ''">
		 	,update_name = #{update_name}
		 </if>
		 <if test="audit_opinion != null and audit_opinion != ''">
		 	,audit_opinion = #{audit_opinion}
		 </if>
		 ,audit_type = 2
		 <if test="state != null and state != ''">
		 	,state = #{state}
		 </if>
		 <if test="status != null and status != ''">
		 	,status = #{status}
		 </if>
		 <if test="title != null and title != ''">
		 	,title = #{title}
		 </if>
		 <if test="start_time != null and start_time != ''">
		 	,start_time = #{start_time}
		 </if>
		 <if test="end_time != null and end_time != ''">
		 	,end_time = #{end_time}
		 </if>
		 <if test="place != null and place != ''">
		 	,place = #{place}
		 </if>
		 <if test="address != null">
		 	,address = #{address}
		 </if>
		 <if test="subject != null and subject != ''">
		 	,`subject` = #{subject}
		 </if>
		 <if test="content != null and content != ''">
		 	,content = #{content}
		 </if>
		 <if test="live_url != null">
		 	,live_url = #{live_url}
		 </if>
		WHERE
			id = #{id}
	</update>
	<!-- 开启、关闭活动直播 -->
	<update id="updateActivityLive" parameterType="java.util.HashMap">
		UPDATE yj_activity
		SET is_start = #{is_start},
			is_live = #{is_live}
		WHERE
			id = #{id}
	</update>
	<!-- 添加活动直播内容 -->
	<insert id="insertActivityLive" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_activity_live (
			activity_id,
			create_time,
			user_id
			<if test="user_name != null and user_name != ''">
				,user_name
			</if>
			,user_type
			<if test="user_v != null and user_v != ''">
				,user_v
			</if>
			,content
			<if test="content_type != null and content_type != ''">
				,content_type
			</if>
			<if test="reply_id != null and reply_id != ''">
				,reply_id
			</if>
			<if test="reply_content != null and reply_content != ''">
				,reply_content
			</if>
		)
		VALUES
			(
				#{activity_id},
				#{create_time},
				#{user_id}
				<if test="user_name != null and user_name != ''">
					,#{user_name}
				</if>
				,2
				<if test="user_v != null and user_v != ''">
					,#{user_v}
				</if>
				,#{content}
				<if test="content_type != null and content_type != ''">
					,#{content_type}
				</if>
				<if test="reply_id != null and reply_id != ''">
					,#{reply_id}
				</if>
				<if test="reply_content != null and reply_content != ''">
					,#{reply_content}
				</if>
			)
	</insert>
	<!-- 修改采纳 -->
	<update id="updateActivityLiveAdopt" parameterType="java.util.HashMap">
		UPDATE yj_activity_live
		SET id = #{id}
		<if test="is_adopt != null and is_adopt != ''">
		 ,is_adopt = #{is_adopt}
		</if>
		<if test="status != null and status != ''">
		 ,`status` = #{status}
		</if>
		WHERE
			id = #{id}
	</update>
	<!-- 查询活动直播 -->
	<select id="findActivityLive" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			l.id,
			l.activity_id,
			l.create_time,
			l.user_id,
			l.user_name,
			l.user_type,
			l.user_v,
			l.content,
			l.content_type,
			l.reply_id,
			l.reply_content,
			l.is_adopt
		FROM
			yj_activity_live l
		WHERE
			l.`status` = 1
		AND activity_id = #{activity_id}
		order by l.create_time desc
		<if test="y != null and y != ''">
			LIMIT ${x},${y}
		</if>
	</select>
	<!-- 查询活动直播未读评论数 -->
	<select id="findActivityLiveCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			yj_activity_live l
		WHERE
			l.`status` = 1
		AND activity_id = #{activity_id}
		AND id > #{maxId}
	</select>
	<!-- 查询活动相关新闻 -->
	<select id="findActivityRelated" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT * FROM yj_activity_related WHERE activity_id = #{activity_id}
	</select>
	<!-- 查询活动直播信息流置顶状态 -->
	<select id="findActivityFeedTmp" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			f.state
		FROM
			yj_feed_filter_tmp t,
			yj_feed_temp_feedinfo f
		WHERE
			t.obj_id = #{id}
		AND t.obj_type = 4
		AND f.feed_id = t.feed_id
		AND f.obj_id = #{id}
		AND f.obj_type = 4
		AND f.is_push_again = 2
		AND f.is_push_type = 1
	</select>
	
	<!-- 查询关注活动直播的人员 -->
	<select id="findActivityMembers" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select p.* from PRE_AL_MEMBER p,(
			SELECT
				*
			FROM
				(
					SELECT
						yf.user_id,
						yf.user_name
					FROM
						yj_common_follow yf
					WHERE
						yf.obj_id = #{id}
					AND yf.obj_type = 4
					UNION ALL
						SELECT
							yg.user_id,
							yg.user_name
						FROM
							yj_activity_guest yg
						WHERE
							yg.activity_id = #{id}
				) t
			GROUP BY
				t.user_id ) tt 
		where p.USID = tt.user_id
	</select>
	
	<!-- 查询未推送过的活动分享嘉宾 -->
	<select id="findActivityGuestNotSend" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT id,activity_id,user_id,user_avatar,user_type,user_name,user_identity,user_v,display_order,status,update_time,g.is_send	
		FROM yj_activity_guest g
		WHERE
			g.status = 1
		and g.is_send = 2
		and g.user_type = 0
		and g.activity_id = #{id}
	</select>
	
	<!-- 批量更新已推送过的受邀人的状态 -->
	<update id="updateGuestSendInfo" parameterType="java.util.List">
			update yj_activity_guest set is_send = 1 where id in (
				<foreach collection="list" item="item" index="index" separator="," >
					#{item.id}
				</foreach>
			)
	
	</update>
	
</mapper>