<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.appDao.IAppDao">
	<insert id="insertreplaysms" parameterType="java.util.HashMap">
		insert into PRE_COMMON_REPLYSMS (
			MSGID,
			SPCODE,
			SRCMOBILE,
			MSGCONTENT,
			RECVTIOME
		) values (
			#{msg_id},
			#{sp_code},
			#{src_mobile},
			#{msg_content},
			#{recv_time}
		)
	</insert>
	
	<insert id="insertSMSReport" parameterType="java.util.HashMap">
		INSERT INTO PRE_COMMON_SMSREPORT (
			REPORT,
			DATE,
			TYPE
			<if test="cust_id != null and cust_id != ''">
				,CUSTID
			</if>
			<if test="url != null and url != ''">
				,URL
			</if>
		)
		VALUES
			(
				#{report}, 
				NOW(),
				0
				<if test="cust_id != null and cust_id != ''">
					,#{cust_id}
				</if>
				<if test="url != null and url != ''">
					,#{url}
				</if>
			)
	</insert>
	
	<insert id="insertsmsreport" parameterType="java.util.HashMap">
		insert into PRE_COMMON_SMSREPORTSTATUS
		(
			MSGID,
			DESTMOBILE,
			REPORTSTATUS,
			REPORTRECVTIME,
			SMSID
		) values (
			#{MSGID},
			#{DESTMOBILE},
			#{REPORTSTATUS},
			#{REPORTRECVTIME},
			0
		)
	</insert>
	
	<select id="querysmsreport" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select SRID,MSGID,DESTMOBILE,REPORTSTATUS,REPORTRECVTIME,SMSID from PRE_COMMON_SMSREPORTSTATUS where MSGID = #{MSGID} and DESTMOBILE = #{DESTMOBILE}
	</select>
	
	<update id="updatesmsreport" parameterType="java.util.HashMap">
		update PRE_COMMON_SMSREPORTSTATUS set REPORTSTATUS = #{REPORTSTATUS},REPORTRECVTIME = #{REPORTRECVTIME} WHERE MSGID = #{MSGID} and DESTMOBILE = #{DESTMOBILE}
	</update>
	
	<select id="findSmsReport" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			PRE_COMMON_SMSREPORT
		WHERE
			TYPE = 0
	</select>
	<update id="updateSmsReport" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_SMSREPORT
		SET TYPE = 1
		WHERE
			TYPE = 0
	</update>
	
	<select id="findSmsContReport" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			PRE_COMMON_SMSCONTREPORT
		WHERE
			TYPE = 0
	</select>
	<delete id="deleteSmsReportStatus" parameterType="java.util.HashMap">
		DELETE FROM PRE_COMMON_SMSREPORTSTATUS WHERE MSGID = #{MSGID} AND DESTMOBILE = #{DESTMOBILE}
	</delete>
	<insert id="insertASmsReport" parameterType="java.util.HashMap">
		insert into PRE_COMMON_SMSREPORTSTATUS
			(
				MSGID,
				DESTMOBILE,
				REPORTSTATUS,
				REPORTRECVTIME,
				SMSID
			) values (
				#{MSGID},
				#{DESTMOBILE},
				#{REPORTSTATUS},
				NOW(),
				${SMSID}
			)
	</insert>
	<update id="updateSmsContReport" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_SMSCONTREPORT SET TYPE = 1 WHERE TYPE = 0
	</update>
</mapper>