<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.placetree.IPlaceTreeDao">

	<select id="findPlaceTree" parameterType="java.util.HashMap" resultType="com.wkt.bean.Tree">
		SELECT
			*
		FROM
			yj_place_tree
	</select>
	<select id="findBeanPlaceTree" parameterType="java.util.HashMap" resultType="com.wkt.bean.Tree">
		SELECT
			*
		FROM
			yj_place_tree
	</select>
	
	
	
	<select id="findaList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE 
			pre_al_member m
		SET NATIVEINFO_ID = ${b}
		WHERE
			m.AVAILABLE = 0
		AND m.NATIVEINFO LIKE '%${a}%'
	</select>
	<select id="findbList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE 
			pre_al_member m
		SET RESIDE_ID = ${b}
		WHERE
			m.AVAILABLE = 0
		AND m.RESIDE LIKE '%${a}%'
	</select>
	<select id="findcList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE 
			pre_al_member m
		SET RESIDE_ID = ${b}
		WHERE
			m.AVAILABLE = 0
		AND m.COMPANY LIKE '%${a}%'
	</select>
	<select id="finddList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE 
			pre_al_member m
		SET RESIDE_ID = ${b}
		,COMPANYADDRESS_ID = ${b} 
		WHERE
			m.AVAILABLE = 0
		AND m.COMPANYADDRESS LIKE '%${a}%'
	</select>
	<select id="findfList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE pre_al_member
		SET RESIDE_ID = ${b}
		WHERE
			USID IN (
				SELECT
					t.*
				FROM
					(
						SELECT
							m.USID
						FROM
							pre_common_shanghui s,
							pre_al_shmember sc,
							pre_al_member m
						WHERE
							s.shid = sc.SHANGHUIID
						AND m.AVAILABLE = 0
						AND m.USERNAME = sc.USERNAME
						AND s.SHNAME LIKE '%${a}%'
					) t
			)
	</select>
	<select id="findhList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			PRE_AL_MEMBER m
		<if test="usids == null or usids == ''">
			WHERE
				m.NATIVEINFO_ID IS NULL
			AND m.AVAILABLE = 0
		</if>
		<if test="usids != null and usids != ''">
			WHERE
				m.USID IN (${usids})
		</if>
	</select>
	<select id="findeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE PRE_AL_MEMBER
		SET NATIVEINFO_ID = ${b}
		WHERE
			USID IN (
				SELECT
					*
				FROM
					(
						SELECT
							m.USID
						FROM
							PRE_AL_MEMBER m,
							PRE_AL_SHMEMBER s,
							PRE_COMMON_SHANGHUI cs
						WHERE
							m.NATIVEINFO_ID IS NULL
						AND m.AVAILABLE = 0
						AND m.USERNAME = s.USERNAME
						AND s.SHANGHUIID = cs.SHID
						AND cs.SHNAME LIKE '%${a}%'
					) tab
			)
	</select>
	<select id="findgList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE PRE_AL_MEMBER
		SET NATIVEINFO_ID = 350000
		WHERE
			NATIVEINFO_ID IS NULL
		AND AVAILABLE = 0
	</select>
	
	<select id="findiList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			PRE_AL_MEMBER m
		<if test="usids == null or usids == ''">
			WHERE
				m.RESIDE_ID IS NULL
			AND m.AVAILABLE = 0
		</if>
		<if test="usids != null and usids != ''">
			WHERE
				m.USID IN (${usids})
		</if>
	</select>
	<select id="findjList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE PRE_AL_MEMBER
		SET RESIDE_ID = 350000
		WHERE
			RESIDE_ID IS NULL
		AND AVAILABLE = 0
	</select>
	
	<select id="findHaveN" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			pre_al_member m
		WHERE
			m.NATIVEINFO_ID IS NOT NULL
	</select>
	<select id="findHaveR" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			pre_al_member m
		WHERE
			m.NATIVEINFO_ID IS NOT NULL
	</select>
	
	<select id="findMemberFollowList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_common_follow
		WHERE
			obj_type = #{obj_type}
		GROUP BY
			user_id
	</select>
	<update id ="deleteOnlyFollow" parameterType="List" >
		UPDATE yj_common_follow
		SET `status` = 2,
			agent = '555',
			update_time = 1499335505000
		WHERE
			id IN ( SELECT
					*
				FROM 
				<foreach collection="list" item="item" open="(" separator="UNION ALL" close=")">
					SELECT
						ycf.id
					FROM
						yj_common_follow ycf,
						PRE_AL_MEMBER m
					WHERE
						ycf.user_id = ${item.user_id}
					AND ycf.obj_type = ${item.obj_type}
					AND ycf.`status` = 1
					AND m.USID = ycf.obj_id
					AND m.AVAILABLE = 0
					GROUP BY
						ycf.obj_id
					HAVING
						count(1) >= 2
				 </foreach> t
				)
	</update >
</mapper>