<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.peacock.IPeacockDao">
	
	<!-- 获取开屏广告列表 -->
	<select id="findPeacockAdvertisementLists" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from (
			select '1' as type, t.* from yj_peacock_advertisement t where 1=1 and FROM_UNIXTIME(t.peacock_end_time/1000,'%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
			union ALL
			select '2' as type, tt.* from yj_peacock_advertisement tt where 1=1 <![CDATA[ and FROM_UNIXTIME(tt.peacock_end_time/1000,'%Y-%m-%d %H:%i:%s') < DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s') ]]> 
			) a where 1=1
		<if test="status !=null and status !=''">
			and a.status = #{status}
		</if>
		<if test="peacock_start_time != null and peacock_start_time != ''">
			and a.peacock_start_time >=#{peacock_start_time}
		</if>
		<if test="peacock_end_time !=null and peacock_end_time !=''">
			<![CDATA[ and a.peacock_start_time <=#{peacock_end_time} ]]> 
		</if>
 		<if test="peacock_title !=null and peacock_title !=''"> 
			and a.peacock_title like '%${peacock_title}%' 
		</if> 
		<if test="status !=null and status !=''">
			<if test="status == 1">
				order by type,a.peacock_id desc
			</if>
			<if test="status != 1">
				order by a.update_time desc , a.create_time desc
			</if>
		</if>

		<if test="y != null and y != '' and y != 0">
			LIMIT ${x},${y}
		</if>
	</select>
	
	<!-- 获取开屏广告总数 -->
	<select id="findPeacockAdvertisementListsCount" parameterType="java.util.HashMap" resultType="Integer">
		select count(*) from yj_peacock_advertisement t where 1=1
		<if test="status !=null and status !=''">
			and t.status = #{status}
		</if>
		<if test="peacock_title !=null and peacock_title !=''"> 
			and t.peacock_title like '%${peacock_title}%' 
		</if> 
		<if test="peacock_start_time != null and peacock_start_time != ''">
			and t.peacock_start_time >=#{peacock_start_time}
		</if>
		<if test="peacock_end_time !=null and peacock_end_time !=''">
			<![CDATA[ and t.peacock_start_time <=#{peacock_end_time} ]]> 
		</if>
		
	</select>
	
	<!-- 新增开屏广告信息 -->
	<insert id="addPeacockAdvertisementInfo" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="slider_id">
		INSERT INTO yj_peacock_advertisement (
			author_id,
			author_name,
			create_time,
			update_time,
			update_user_id,
			update_user_name,
			status
			<if test="peacock_image != null and peacock_image != ''">
				,peacock_image
			</if>
			<if test="peacock_url != null and peacock_url != ''">
				,peacock_url
			</if>
			<if test="peacock_start_time != null and peacock_start_time != ''">
				,peacock_start_time
			</if>
			<if test="peacock_end_time != null and peacock_end_time != ''">
				,peacock_end_time
			</if>
			<if test="peacock_order != null and peacock_order != ''">
				,peacock_order
			</if>
			<if test="obj_id != null and obj_id != ''">
				,obj_id
			</if>
			<if test="obj_type != null and obj_type != ''">
				,obj_type
			</if>
			<if test="article_title != null and article_title != ''">
				,article_title
			</if>
			<if test="peacock_title !=null and peacock_title !=''">
				,peacock_title
			</if>
		) values (
			#{author_id},
			#{author_name},
			#{create_time},
			#{create_time},
			#{author_id},
			#{author_name},
			1
			<if test="peacock_image != null and peacock_image != ''">
				,#{peacock_image}
			</if>
			<if test="peacock_url != null and peacock_url!= ''">
				,#{peacock_url}
			</if>
			<if test="peacock_start_time != null and peacock_start_time != ''">
				,#{peacock_start_time}
			</if>
			<if test="peacock_end_time != null and peacock_end_time != ''">
				,#{peacock_end_time}
			</if>
			<if test="peacock_order != null and peacock_order != ''">
				,#{peacock_order}
			</if>
			<if test="obj_id != null and obj_id != ''">
				,#{obj_id}
			</if>
			<if test="obj_type != null and obj_type != ''">
				,#{obj_type}
			</if>
			<if test="article_title != null and article_title != ''">
				,#{article_title}
			</if>
			<if test="peacock_title !=null and peacock_title !=''">
				,#{peacock_title}
			</if>
		)
	</insert>
	
	<!-- 修改开屏广告信息 -->
	<update id="updatePeacockAdvertisementInfo" parameterType="java.util.HashMap">
		update yj_peacock_advertisement set 
		update_user_id = #{update_user_id},
		update_user_name = #{update_user_name},
		update_time = #{update_time}
		<if test="peacock_image != null and peacock_image != ''">
			,peacock_image = #{peacock_image}
		</if>
		
		<if test="obj_type == 20 ">
			,peacock_url = #{peacock_url}
		</if>
		<if test = " obj_type != 20 ">
			,peacock_url = ''
		</if>
		
		<if test="peacock_start_time != null and peacock_start_time != ''">
			,peacock_start_time = #{peacock_start_time}
		</if>
		<if test="peacock_end_time != null and peacock_end_time != ''">
		    ,peacock_end_time = #{peacock_end_time}
		</if>
		<if test="peacock_order != null and peacock_order != ''">
			,peacock_order = #{peacock_order}
		</if>
		<if test="obj_id != null and obj_id != ''">
			,obj_id = #{obj_id}
		</if>
		<if test="obj_type != null and obj_type != ''">
			,obj_type = #{obj_type}
		</if>
		<if test="article_title != null and article_title != ''">
			,article_title = #{article_title}
		</if>
		<if test="peacock_title !=null and peacock_title !=''">
			,peacock_title = #{peacock_title}
		</if>
		where peacock_id = #{peacock_id}
	</update>
	
	
	
	<!-- 删除/恢复/中止投放开屏广告信息 -->
	<update id="stopordelPeacockAdvertisementInfo" parameterType="java.util.HashMap">
		update yj_peacock_advertisement set 
		update_user_id = #{update_user_id},
		update_user_name = #{update_user_name},
		update_time = #{update_time}
		<if test="peacock_end_time != null and peacock_end_time != ''">
		    ,peacock_end_time = #{peacock_end_time}
		</if>
		<if test="status != null and status != ''">
		    ,status = #{status}
		</if>
		where peacock_id = #{peacock_id}
	</update>
	
	<!-- 根据ID获取开屏广告信息 -->
	<select id="findPeacockAdvertisementInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from yj_peacock_advertisement t where peacock_id = #{peacock_id}
	</select>
	
</mapper>