<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.secret.ISecretDao">
	<!-- 获取秘闻信息列表 -->
	<select id="findSecretList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			t.*, ff.id feed_info_id,
			ff.feed_id
		FROM
			yj_secret t
		LEFT JOIN yj_feed_temp_feedinfo ff ON t.id = ff.obj_id
		AND ff.is_push_again = 1
		AND ff.is_push_type = 1 WHERE 1=1
		<if test="status != null and status != ''">
			and t.`status` = ${status}
		</if>
		<if test="state != null and state != ''">
			<if test="state == 1 or state == 2">
				AND t.state = ${state}
			</if>
			<if test="state == 3 or state == 4">
				AND t.state in (3,4)
			</if>
		</if>
		<if test="startcreatetime != null and startcreatetime != ''">
			and t.create_time >=#{startcreatetime}
		</if>
		<if test="endcreatetime !=null and endcreatetime !=''">
			<![CDATA[ and t.create_time <=#{endcreatetime} ]]> 
		</if>
		<if test="islength!=null and islength!=''">
			AND t.is_length = ${islength}
		</if>
		<if test="keywords != null and keywords != ''">
			AND (t.title LIKE '%${keywords}%' OR t.summary LIKE '%${keywords}%')
		</if>
		<if test="startupdatetime != null and startupdatetime != ''">
			and t.update_time >=#{startupdatetime}
		</if>
		<if test="endupdatetime !=null and endupdatetime !=''">
			<![CDATA[ and t.update_time <=#{endupdatetime} ]]> 
		</if>
		<if test="audit_start_time != null and audit_start_time != ''">
			and t.audit_time >=#{audit_start_time}
		</if>
		<if test="audit_end_time !=null and audit_end_time !=''">
			<![CDATA[ and t.audit_time <=#{audit_end_time} ]]> 
		</if>
		ORDER BY
			t.update_time desc,
			t.create_time desc
		<if test="y != null and y != '' and y != 0">
			LIMIT ${x},${y}
		</if>
	</select>
	
	<!-- 获取秘闻信息总数 -->
	<select id="findSecretListCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			count(*)
		FROM
			yj_secret t
		WHERE 1=1
		<if test="status != null and status != ''">
			and t.`status` = ${status}
		</if>
		<if test="state != null and state != ''">
			<if test="state == 1 or state == 2">
				AND t.state = ${state}
			</if>
			<if test="state == 3 or state == 4">
				AND t.state in (3,4)
			</if>
		</if>	
		<if test="startcreatetime != null and startcreatetime != ''">
			and t.create_time >=#{startcreatetime}
		</if>
		<if test="endcreatetime !=null and endcreatetime !=''">
			<![CDATA[ and t.create_time <=#{endcreatetime} ]]> 
		</if>
		
		<if test="islength!=null and islength!=''">
			AND t.is_length = ${islength}
		</if>
		<if test="keywords != null and keywords != ''">
			AND t.title LIKE '%${keywords}%' OR t.summary LIKE '%${keywords}%'
		</if>
		
		<if test="startupdatetime != null and startupdatetime != ''">
			and t.update_time >=#{startupdatetime}
		</if>
		<if test="endupdatetime !=null and endupdatetime !=''">
			<![CDATA[ and t.update_time <=#{endupdatetime} ]]> 
		</if>
		<if test="audit_start_time != null and audit_start_time != ''">
			and t.audit_time >=#{audit_start_time}
		</if>
		<if test="audit_end_time !=null and audit_end_time !=''">
			<![CDATA[ and t.audit_time <=#{audit_end_time} ]]> 
		</if>
	</select>
	
	<!-- 编辑秘闻 -->
	<update id="updateSecretNews" parameterType="java.util.HashMap" >
		UPDATE yj_secret
		SET state = ${state}
		<if test="type != null and type != ''">
			,type = ${type}
		</if>
		<if test="is_length != null and is_length != ''">
			,is_length = ${is_length}
		</if>
		 
		 <if test="anonymous_type != null and anonymous_type != ''">
		 	,anonymous_type = #{anonymous_type}
		 </if>
		 <if test="title != null and title != ''">
		 	,title = #{title}
		 </if>
		 <if test="summary != null">
		 	,summary = #{summary}
		 </if>
		 <if test="content != null and content != ''">
		 	 ,content = #{content}
		 </if>
		<if test="update_id != null and update_id != ''">
			,update_id = #{update_id}
		</if>
		 <if test="update_name != null and update_name != ''">
		 	,update_name = #{update_name}
		 </if>
		 <if test="update_time != null and update_time != ''">
		 	,update_time = ${update_time}
		 	,update_type = 2
		 </if>
		 <if test="image != null and image != ''">
		 	,image = #{image}
		 </if>
		 <if test="audit_opinion != null and audit_opinion != ''">
		 	,audit_opinion = #{audit_opinion}
		 </if>
		 <if test="audit_user_id != null and audit_user_id != ''">
			,audit_user_id = #{audit_user_id}
		</if>
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="audit_time != null and audit_time != ''">
		 	,audit_time = ${audit_time}
		 </if>
		WHERE
			id = ${id}
	</update>
	
	<!-- 审核秘闻 -->
	<update id="checkSecretNews" parameterType="java.util.HashMap" >
		UPDATE yj_secret
		SET state = ${state},
		 update_usid = ${updateusid},
		 update_name = #{updatename},
		 update_time = ${updatetime}
		 <if test="audit_opinion != null and audit_opinion != ''">
		 	,audit_opinion = #{audit_opinion}
		 </if>
		 <if test="audit_user_id != null and audit_user_id != ''">
			,audit_user_id = #{audit_user_id}
		</if>
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="audit_time != null and audit_time != ''">
		 	,audit_time = ${audit_time}
		 </if>
		WHERE
			id = ${id}
	</update>
	
	<!-- 删除秘闻 -->
	<update id="delSecretNews" parameterType="java.util.HashMap" >
		UPDATE yj_secret
		SET status = ${status},
		 update_id = ${update_id},
		 update_name = #{update_name},
		 update_time = ${update_time},
		 update_type = 2
		 <if test="audit_user_id != null and audit_user_id != ''">
			,audit_user_id = #{audit_user_id}
		</if>
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="audit_time != null and audit_time != ''">
		 	,audit_time = ${audit_time}
		 </if>
		WHERE
			id = ${id}
	</update>
	
	<!-- 新增秘闻 -->
	<insert id="insertSecretNews" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.HashMap" >
		insert into yj_secret (
			type
			<if test="title != null and title != ''">
				,title
			</if>
			,summary,
			author_id,
			author_name,
			author_type,
			create_time,
			anonymous_type,
			content,
			state,
			is_length,
			update_time
			<if test="image != null and image != ''">
			 	,image
			 </if>
		) values (
			${type}
			<if test="title != null and title != ''">
				,#{title}
			</if>
			,#{summary},
			${authorid},
			#{authorname},
			2,
			${createtime},
			${anonymous_type},
			#{content},
			${state},
			${is_length},
			${createtime}
			<if test="image != null and image != ''">
			 	,#{image}
			 </if>
		)
		<!-- <selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT MAX(id) AS id from yj_secret
		</selectKey> -->
	</insert>
	
	<!-- 根据秘闻ID获取秘闻信息 -->
	<select id="findSecretInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			yj_secret t
		WHERE  
			t.id = ${id}
	</select>
	
	<!-- 根据秘闻ID获取评论管理内容 -->
	<select id="findCommentList" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
		select * from yj_common_comment t where t.fid = ${id} order by t.create_time desc 
		<if test="y != null and y != '' and y != 0">
			LIMIT ${x},${y}
		</if>
	</select>
	
	<!-- 获取秘闻信息总数 -->
	<select id="findCommentListCount" parameterType="java.util.HashMap" resultType="Integer">
		select count(*) from yj_common_comment t where t.fid = ${id}
	</select>
	
	<!-- 根据秘闻ID获取推送秘闻信息 -->
	<select id="pushScretInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
		select t.type,t.is_length  from yj_secret t where t.id = ${id}
	</select>
	
	<!-- 额外推送信息保存 -->
	<insert id="insertFeedTempInfo" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.HashMap">
		insert into yj_feed_temp_feedinfo
		(
			<if test="devicefeedid != null and devicefeedid != ''">
				feed_id,
			</if>
			<if test=" deviceshanghui !=null and deviceshanghui!=''">
				sh_ids,
			</if>
			<if test="deviceshanghuinames!=null and deviceshanghuinames!=''">
				sh_names,
			</if>
			<if test="deviceindustry!=null and deviceindustry!=''">
				industry_ids,
			</if>
			<if test="deviceindustrynames!=null and deviceindustrynames!=''">
				industry_names,
			</if>
			<if test="deviceregion!=null and deviceregion!=''">
				region_ids,
			</if>
			<if test="deviceregionnames!=null and deviceregionnames!=''">
				region_names,
			</if>
			<if test="devicenativeplace!=null and devicenativeplace!=''">
				nativeplace_ids,
			</if>
			<if test="devicenativeplacenames!=null and devicenativeplacenames!=''">
				nativeplace_names,
			</if>
			<if test="deviceusergroup!=null and deviceusergroup!=''">
				usergroup_ids,
			</if>
			<if test="deviceusergroupnames!=null and deviceusergroupnames!=''">
				usergroup_names,
			</if>
			<if test="deviceuser!=null and deviceuser!=''">
				user_ids,
			</if>
			<if test="deviceusernames!=null and deviceusernames!=''">
				user_names,
			</if>
			
			<if test="devicecircle!=null and devicecircle!=''">
				circle_ids,
			</if>
			
			<if test="devicecirclenames!=null and devicecirclenames!=''">
				circle_names,
			</if>
			<if test="devicesmalltop!=null and devicesmalltop != ''">
				small_top,
			</if>
			<if test="devicebigtop != null and devicebigtop != ''">
				big_top,
			</if>
			<if test="deviceispushtype != null and deviceispushtype != ''">
				is_push_type,
			</if>
			<if test="devicetitle != null and devicetitle != ''">
				title,
			</if>
			<if test="devicecontent != null and devicecontent != ''">
				content,
			</if>
			<if test="objid !=null and objid !=''">
				obj_id,
			</if>
			<if test="objtype !=null and objtype !=''">
				obj_type,
			</if>
			create_time,
			author_id,
			author_name,
			all_user
		) values
		(
			${devicefeedid},
			<if test=" deviceshanghui !=null and deviceshanghui!=''">
			#{deviceshanghui},
			</if>
			<if test="deviceshanghuinames!=null and deviceshanghuinames!=''">
			#{deviceshanghuinames},
			</if>
			<if test="deviceindustry!=null and deviceindustry!=''">
			#{deviceindustry},
			</if>
			<if test="deviceindustrynames!=null and deviceindustrynames!=''">
			#{deviceindustrynames},
			</if>
			<if test="deviceregion!=null and deviceregion!=''">
			#{deviceregion},
			</if>
			<if test="deviceregionnames!=null and deviceregionnames!=''">
			#{deviceregionnames},
			</if>
			<if test="devicenativeplace!=null and devicenativeplace!=''">
			#{devicenativeplace},
			</if>
			<if test="devicenativeplacenames!=null and devicenativeplacenames!=''">
			#{devicenativeplacenames},
			</if>
			<if test="deviceusergroup!=null and deviceusergroup!=''">
			#{deviceusergroup},
			</if>
			<if test="deviceusergroupnames!=null and deviceusergroupnames!=''">
			#{deviceusergroupnames},
			</if>
			<if test="deviceuser!=null and deviceuser!=''">
			#{deviceuser},
			</if>
			<if test="deviceusernames!=null and deviceusernames!=''">
			#{deviceusernames},
			</if>
			
			<if test="devicecircle!=null and devicecircle!=''">
			#{devicecircle},
			</if>
			
			<if test="devicecirclenames!=null and devicecirclenames!=''">
			#{devicecirclenames},
			</if>
			<if test="devicesmalltop!=null and devicesmalltop != ''">
				${smalltop},
			</if>
			<if test="devicebigtop != null and devicebigtop != ''">
				${bigtop},
			</if>
			<if test="deviceispushtype != null and deviceispushtype != ''">
				${ispushtype},
			</if>
			<if test="devicetitle != null and devicetitle != ''">
				#{title},
			</if>
			<if test="devicecontent != null and devicecontent != ''">
				#{content},
			</if>
			<if test="objid !=null and objid !=''">
				${objid},
			</if>
			<if test="objtype !=null and objtype !=''">
				${objtype},
			</if>
			#{createtime},
			${authorid},
			#{authorname},
			${devicealluser}
		)
	</insert>
	
</mapper>