<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.gslmanager.IGslManagerDao">
	<!-- 查询工商联总条数 -->
	<select id="findGslCount" parameterType="java.util.HashMap" resultType="Integer">	
		SELECT
			COUNT(*) count
		FROM
			PRE_OAM_COMMERCIAL_ASSOCIATION a
		WHERE a.`STATE` = 1
		<if test="parent_id != null and parent_id != '' and parent_id != 0">
			AND a.cafatherid = #{parent_id}
		</if>
		<if test="title != null and title != ''">
			AND a.caname like '%${title}%' 
		</if>
		<if test="start_time != null and start_time != ''">
			<![CDATA[   and DATE_FORMAT(a.CREATEDATE, '%Y-%m-%d')>=  DATE_FORMAT(#{start_time}, '%Y-%m-%d')   ]]>
		</if>
		<if test="end_time != null and end_time != ''">
			<![CDATA[and DATE_FORMAT(a.CREATEDATE, '%Y-%m-%d') <=  DATE_FORMAT(#{end_time}, '%Y-%m-%d')]]>
		</if>
	</select>
	<!-- 查询工商联列表 -->
	<select id="findGslList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			a.CAID id,
			a.caid,
			a.caname,
			DATE_FORMAT(a.createdate, '%Y-%m-%d %k:%i:%s') createdate,
			a.cawebsite,
			a.caaddress,
			a.caintroduction,
			a.state,
			a.calogo,
			a.cafatherid,
			a.level,
			a.chairman
		FROM
			PRE_OAM_COMMERCIAL_ASSOCIATION a
		WHERE a.`STATE` = 1
		<if test="parent_id != null and parent_id != '' and parent_id != 0">
			AND a.cafatherid = #{parent_id}
		</if>
		<if test="title != null and title != ''">
			AND a.caname like '%${title}%' 
		</if>
		<if test="start_time != null and start_time != ''">
			<![CDATA[and DATE_FORMAT(a.CREATEDATE, '%Y-%m-%d') >=  DATE_FORMAT(#{start_time}, '%Y-%m-%d')]]>
		</if>
		<if test="end_time != null and end_time != ''">
			<![CDATA[and DATE_FORMAT(a.CREATEDATE, '%Y-%m-%d') <=  DATE_FORMAT(#{end_time}, '%Y-%m-%d')]]>
		</if>
		ORDER BY
			a.CREATEDATE desc
		<if test="y != null and y != ''">
			LIMIT ${x},${y}
		</if>
	</select>
	<!-- 查询工商联列表 ztree格式-->
	<select id="findGslListData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			t.CAID id,
			t.cafatherid pId,
			CASE WHEN (
				SELECT
					count(*)
				FROM
					PRE_OAM_COMMERCIAL_ASSOCIATION s
				WHERE
					s.CAFATHERID = t.caid
			 and s.STATE = 1
			) > 0 THEN
				'True'
			ELSE
				'False'
			END isParent,
			t.caid,
			t.caname,
			DATE_FORMAT(t.createdate, '%Y-%m-%d %k:%i:%s') createdate,
			t.cawebsite,
			t.caaddress,
			t.caintroduction,
			t.state,
			t.calogo,
			t.cafatherid,
			t. LEVEL,
			t.chairman
		FROM
			PRE_OAM_COMMERCIAL_ASSOCIATION t
		WHERE
			t.STATE = 1
		ORDER BY
			t.CREATEDATE DESC
	</select>
	<!-- 查询工商联详情 -->
	<select id="findGslDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			a.CAID id,
			a.caid,
			a.caname,
			DATE_FORMAT(a.createdate, '%Y-%m-%d %k:%i:%s') createdate,
			a.cawebsite,
			a.caaddress,
			a.caintroduction,
			a.state,
			a.calogo,
			a.cafatherid,
			a.level,
			a.chairman
		FROM
			PRE_OAM_COMMERCIAL_ASSOCIATION a
		WHERE
			a.CAID = #{id}
	</select>
	<!-- 新增工商联 -->
	<insert id="insertGsl" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO PRE_OAM_COMMERCIAL_ASSOCIATION (
			caname
			,state
			,createdate
			<if test="cawebsite != null and cawebsite != ''">
				,cawebsite
			</if>
			<if test="caaddress != null and caaddress != ''">
				,caaddress
			</if>
			<if test="caintroduction != null and caintroduction != ''">
				,caintroduction
			</if>
			<if test="calogo != null and calogo != ''">
				,calogo
			</if>
			<if test="cafatherid != null and cafatherid != ''">
				,cafatherid
			</if>
			<if test="level != null and level != ''">
				,level
			</if>
			<if test="chairman != null and chairman != ''">
				,chairman
			</if>
		)
		VALUES
			(
				#{caname}
				,1
				,#{createdate}
				<if test="cawebsite != null and cawebsite != ''">
					,#{cawebsite}
				</if>
				<if test="caaddress != null and caaddress != ''">
					,#{caaddress}
				</if>
				<if test="caintroduction != null and caintroduction != ''">
					,#{caintroduction}
				</if>
				<if test="calogo != null and calogo != ''">
					,#{calogo}
				</if>
				<if test="cafatherid != null and cafatherid != ''">
					,#{cafatherid}
				</if>
				<if test="level != null and level != ''">
					,#{level}
				</if>
				<if test="chairman != null and chairman != ''">
					,#{chairman}
				</if>
			)
	</insert>
	<!-- 修改工商联要闻 -->
	<update id="updateGsl" parameterType="java.util.HashMap">
		UPDATE PRE_OAM_COMMERCIAL_ASSOCIATION
		SET caname = #{caname}
			<if test="cawebsite != null">
				,cawebsite = #{cawebsite}
			</if>
			<if test="caaddress != null">
				,caaddress = #{caaddress}
			</if>
			<if test="caintroduction != null and caintroduction != ''">
				,caintroduction = #{caintroduction}
			</if>
			<if test="calogo != null and calogo != ''">
				,calogo = #{calogo}
			</if>
			<if test="cafatherid != null and cafatherid != ''">
				,cafatherid = #{cafatherid}
			</if>
			<if test="level != null and level != ''">
				,level = #{level}
			</if>
			<if test="chairman != null and chairman != ''">
				,chairman = #{chairman}
			</if>
			<if test="state != null and state != ''">
				,state = #{state}
			</if>
		WHERE
			caid = #{id}
	</update>
	<!-- 删除工商联要闻 -->
	<update id="deleteGsl" parameterType="java.util.HashMap">
		UPDATE PRE_OAM_COMMERCIAL_ASSOCIATION
		SET state = #{state}
		WHERE
			caid IN (${id})
	</update>
	<!-- 根据工商联查询子工商联信息 -->
	<select id="querydreationbyfatierid" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	   	 select caid,
	   			caname,
	   			createdate,
	   			cawebsite,
	   			caaddress,
	   			caintroduction,
	   			state,
	   			calogo,
	   			cafatherid,
	   			level
				from PRE_OAM_COMMERCIAL_ASSOCIATION where CAFATHERID = #{caid} and STATE = 1
	</select>
	<!-- 查询工商联/商会用户总条数 logintype 1 商会,2 工商联 -->
	<select id="findGslUserCount" parameterType="java.util.HashMap" resultType="Integer">	
		SELECT
			COUNT(*) count
		from PRE_COMMON_SECRETARY t
		WHERE 1=1
		<if test="caid != null and caid != ''">
			and t.CAID=#{caid}
		</if>
		<if test="shid != null and shid != ''">
			and t.shanghuiid=#{shid}
		</if>
		  and t.status=1
		  and t.logintype = #{logintype}
		<if test="title != null and title != ''">
			and (t.USERNAME like '%${title}%' or t.REALNAME like '%${title}%')
		</if>
	</select>
	<!-- 查询工商联/商会用户列表 -->
	<select id="findGslUserList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select 
			t.sid,
			t.username,
			t.realname,
			t.`password`,
			t.sex,
			t.departmentid,
			t.positionid,
			t.`status`,
			t.shanghuiid,
			t.role,
			t.headurl,
			t.positionname,
			t.caid,
			t.logintype,(select por.ROLENAME from PRE_OAM_ROLE por where por.RID = (SELECT poru.ROID FROM PRE_OAM_ROLE_USER poru WHERE poru.USID = t.SID)) as rolename
	 from PRE_COMMON_SECRETARY t
		WHERE 1=1
		<if test="caid != null and caid != ''">
			and t.CAID=#{caid}
		</if>
		<if test="shid != null and shid != ''">
			and t.shanghuiid=#{shid}
		</if>
		  and t.status=1
		<if test="logintype != null and logintype != ''">
		  and t.logintype = #{logintype}
		</if>
		<if test="title != null and title != ''">
			and (t.USERNAME like '%${title}%' or t.REALNAME like '%${title}%')
		</if>
		<if test="y != null and y != ''">
			LIMIT ${x},${y}
		</if>
	</select>
	<!-- 判断是否用户名称重复 -->
	<select id="checkUserName" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			count(*)
		FROM
			PRE_COMMON_SECRETARY t
		WHERE
			t.USERNAME = #{username}
		AND t.`STATUS` = 1
		<if test="logintype != null and logintype != ''">
		  and t.logintype = #{logintype}
		</if>
		<if test="sid != null and sid != ''">
		  and t.sid != #{sid}
		</if>
	</select>
	<!-- 查询工商联/商会用户详情 -->
	<select id="findGslUserDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select 
			t.sid,
			t.username,
			t.realname,
			t.`password`,
			t.sex,
			t.departmentid,
			t.positionid,
			t.`status`,
			t.shanghuiid,
			t.role,
			t.headurl,
			t.positionname,
			t.caid,
			t.logintype,(select por.ROLENAME from PRE_OAM_ROLE por where por.RID = (SELECT poru.ROID FROM PRE_OAM_ROLE_USER poru WHERE poru.USID = t.SID)) as rolename
	 from PRE_COMMON_SECRETARY t
		WHERE
			t.sid = #{id}
	</select>
	<!-- 新增工商联/商会用户 -->
	<insert id="insertGslUser" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO PRE_COMMON_SECRETARY (
			USERNAME,
			REALNAME,
			PASSWORD,
			SEX
			<if test="departmentid != null and departmentid != ''">
				,DEPARTMENTID
			</if>
			<if test="positionid != null and positionid != ''">
				,POSITIONID
			</if>
			,STATUS
			<if test="shanghuiid != null and shanghuiid != ''">
				,SHANGHUIID
			</if>
			<if test="role != null and role != ''">
				,ROLE
			</if>
			<if test="headurl != null and headurl != ''">
				,HEADURL
			</if>
			<if test="positionname != null and positionname != ''">
				,POSITIONNAME
			</if>
			<if test="caid != null and caid != ''">
				,CAID
			</if>
			,LOGINTYPE
		)
		VALUES
			(
				#{username}
				,#{realname}
				,#{password}
				,#{sex}
				<if test="departmentid != null and departmentid != ''">
					,#{departmentid}
				</if>
				<if test="positionid != null and positionid != ''">
					,#{positionid}
				</if>
				,1
				<if test="shanghuiid != null and shanghuiid != ''">
					,#{shanghuiid}
				</if>
				<if test="role != null and role != ''">
					,#{role}
				</if>
				<if test="headurl != null and headurl != ''">
					,#{headurl}
				</if>
				<if test="positionname != null and positionname != ''">
					,#{positionname}
				</if>
				<if test="caid != null and caid != ''">
					,#{caid}
				</if>
				,#{logintype}
			)
	</insert>
	<!-- 修改工商联/商会用户 -->
	<update id="updateGslUser" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_SECRETARY
		SET REALNAME = #{realname},SEX = #{sex}
			<if test="positionname != null and positionname != ''">
				,POSITIONNAME = #{positionname}
			</if>
			<if test="positionid != null and positionid != ''">
				,POSITIONID = #{positionid}
			</if>
		WHERE
			sid = #{id}
	</update>
	<!-- 重置工商联/商会用户密码 -->
	<update id="resetGslUser" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_SECRETARY
		SET PASSWORD = #{password}
		WHERE
			sid = #{id}
	</update>
	<!-- 删除工商联/商会用户 -->
	<update id="deleteGslUser" parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_SECRETARY
		SET status = #{status}
		WHERE
			sid = #{id}
	</update>
	<!-- 添加用户权限 -->
	<insert id="insertroleuser" parameterType="java.util.HashMap">
		insert into PRE_OAM_ROLE_USER (ROID,USID) values (#{role},#{usid})
	</insert>
	<!-- 查询查询工商联权限列表 -->
	<select id="findGslRoleList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
		t.rcid,
		t.caid,
		t.roid,
		r.rolename
		FROM
			PRE_OAM_ROLE_ASSOCIATION t,
			PRE_OAM_ROLE r
		WHERE
			t.CAID = #{id}
		AND t.ROID = r.RID
	</select>
	<!-- 新增工商联-商会关联 -->
	<insert id="insertAssociative"  parameterType="java.util.HashMap">
		insert into PRE_OAM_SHANGHUIORASSOCIATION(SHANGHUIID,ASSOCIATIONID) values (#{shanghuiid},#{associationid})
	</insert>
	<!-- 获取商会直属工商联信息-->
	<select id="queryfederationandshanghui" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select id,shanghuiid,associationid from PRE_OAM_SHANGHUIORASSOCIATION where SHANGHUIID = #{shid}
	</select>
	<!-- 删除工商联与直属商会 -->
	<delete id="deleteshanghuiandfedration"  parameterType="java.util.HashMap">
		delete from PRE_OAM_SHANGHUIORASSOCIATION where ASSOCIATIONID = #{caid}
	</delete>
	<!-- 获取工商联与直属商会 -->
	<select id="queryShanghui" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select shanghuiid from PRE_OAM_SHANGHUIORASSOCIATION where ASSOCIATIONID = #{caid}
	</select>
	<!-- 删除工商联直属商会 -->
	<delete id="deleteshanghuibyCAID" parameterType="java.util.HashMap">
		delete from PRE_COMMON_SHANGHUI where SHID = #{shanghuiid}
	</delete>
	<!-- 删除直属商会群 -->
	<delete id="deletegroupbyshid" parameterType="java.util.HashMap">
		delete from PRE_COMMON_GROUP where SHANGHUIID = #{shanghuiid}
	</delete>
	<!-- 获取工商联分类信息 -->
	<select id="queryCatrgory" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select group_concat(GOID) as categoryid from PRE_OAM_CATEGORY_COMMERCIAL where CAID = #{caid}
	</select>
	<!-- 获取要删除的所有信息 -->
	<select id="queryallMessage"  parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select group_concat(SHANGHUIID) as shanghuiid from pre_oam_categoryorshanghui where CATEGORYID 
		in (select ID from PRE_OAM_CATEGORY where NODEID in (select GOID from pre_oam_category_commercial where CAID = #{caid}))
	</select>
	<!-- 获取群信息 -->
	<select id="querygroupMessage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select group_concat(GROUPID) as groupid from PRE_COMMON_GROUP where SHANGHUIID in (${shid})
	</select>
	<!-- 删除群 -->
	<delete id="deleteGroup" parameterType="java.util.HashMap">
		delete from PRE_COMMON_GROUP_MESSAGE where GROUPID in (${groupid})
	</delete>
	<!-- 删除工商联用户 -->
	<update id="deleteUser" parameterType="java.util.HashMap">
		update PRE_COMMON_SECRETARY
		SET status = 0
		where SHANGHUIID in(${shid})
	</update> 
	<!-- 删除商会 -->
	<update id="deleteShanghui"  parameterType="java.util.HashMap">
		UPDATE PRE_COMMON_SHANGHUI
		SET status = 0
		where SHID in (${shid})
	</update>
	<!-- 删除分类信息 -->
	<update id="deletecategory" parameterType="java.util.HashMap">
		UPDATE PRE_OAM_CATEGORY
		SET state = 2
		where NODEID in (${categoryid})
	</update>
	<!-- 删除分类工商联关联信息 -->
	<delete id="deletecategorybyderation" parameterType="java.util.HashMap">
		delete from PRE_OAM_CATEGORY_COMMERCIAL where CAID = #{caid}
	</delete>
	<!-- 删除工商联 -->
	<delete id="deletederationbyfatierid" parameterType="java.util.HashMap">
		delete from PRE_OAM_COMMERCIAL_ASSOCIATION where CAID = #{caid}
	</delete>
</mapper>