<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.dao.gsl.IGslDao">
	<!-- 查询工商联要闻总条数 -->
	<select id="findGslCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			COUNT(*) count
		FROM
			yj_gsl_article a
		WHERE
			a.`status` = #{status}
		<if test="state != null and state != ''">
			AND a.state IN (${state})
		</if>	
		<if test="create_start_time != null and create_start_time != ''">
			AND a.create_time >= #{create_start_time}
		</if>
		<if test="create_end_time != null and create_end_time != ''">
			<![CDATA[AND a.create_time <= #{create_end_time}]]>
		</if>
		<if test="audit_start_time != null and audit_start_time != ''">
			AND a.audit_time >= #{audit_start_time}
		</if>
		<if test="audit_end_time != null and audit_end_time != ''">
			<![CDATA[AND a.audit_time <= #{audit_end_time}]]>
		</if>
		<if test="title != null and title != ''">
			AND a.title LIKE '%${title}%'
		</if>
	</select>
	<!-- 查询工商联要闻列表 -->
	<select id="findGslList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			a.id,
			a.title,
			a.author_id,
			a.author_name,
			a.create_time,
			a.show_times_count,
			a.show_people_count,
			a.visit_times_count,
			a.visit_people_count,
			a.zan_count,
			a.favorite_count,
			a.share_count,
			a.comment_count,
			a.view_times_count_all,
			a.view_people_count_all,
			a.wx_visit_times_count,
			a.wx_visit_people_count,
			a.zan_count_all,
			a.favorite_count_all,
			a.share_count_all,
			a.comment_count_all,
			a.is_short,
			a.author_type,
			a.state,
			a.audit_user_id,
			a.audit_user_name,
			a.audit_time,
			a.audit_opinion,
			a.audit_type,
			a.update_id,
			a.update_name,
			a.update_time,
			a.update_type
		FROM
			yj_gsl_article a
		WHERE
			a.`status` = #{status}
		<if test="state != null and state != ''">
			AND a.state IN (${state})
		</if>
		<if test="create_start_time != null and create_start_time != ''">
			AND a.create_time >= #{create_start_time}
		</if>
		<if test="create_end_time != null and create_end_time != ''">
			<![CDATA[AND a.create_time <= #{create_end_time}]]>
		</if>
		<if test="audit_start_time != null and audit_start_time != ''">
			AND a.audit_time >= #{audit_start_time}
		</if>
		<if test="audit_end_time != null and audit_end_time != ''">
			<![CDATA[AND a.audit_time <= #{audit_end_time}]]>
		</if>
		<if test="title != null and title != ''">
			AND a.title LIKE '%${title}%'
		</if>
		ORDER BY
			a.update_time desc,
			a.create_time desc
		<if test="y != null and y != ''">
			LIMIT ${x},${y}
		</if>
	</select>
	<!-- 查询工商联要闻详情 -->
	<select id="findGslDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			a.id,
			a.title,
			a.summary,
			a.content,
			a.image,
			a.`status`,
			a.state,
			a.author_id,
			a.author_name,
			a.create_time,
			a.audit_user_id,
			a.audit_user_name,
			a.audit_time,
			a.audit_opinion,
			a.audit_type,
			a.update_id,
			a.update_name,
			a.update_time,
			a.update_type
		FROM
			yj_gsl_article a
		WHERE
			a.id = #{id}
	</select>
	<!-- 新增工商联要闻 -->
	<insert id="insertGsl" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO yj_gsl_article (
			title
			,summary
			,content
			<if test="image != null and image != ''">
				,image
			</if>
			,author_id
			,author_name
			,create_time
			,update_time
			,author_type
			,state
			,audit_type
		)
		VALUES
			(
				#{title}
				,#{summary}
				,#{content}
				<if test="image != null and image != ''">
					,#{image}
				</if>
				,#{author_id}
				,#{author_name}
				,#{create_time}
				,#{create_time}
				,2
				,#{state}
				,2
			)
	</insert>
	<!-- 修改工商联要闻 -->
	<update id="updateGsl" parameterType="java.util.HashMap">
		UPDATE yj_gsl_article
		SET update_time = #{update_time},
			update_type = 2
		 <if test="update_id != null and update_id != ''">
		 	,update_id = #{update_id}
		 </if>
		 <if test="update_name != null and update_name != ''">
		 	,update_name = #{update_name}
		 </if>
		 <if test="audit_time != null and audit_time != ''">
		 	,audit_time = #{audit_time}
		 </if>
		 <if test="audit_user_id != null and audit_user_id != ''">
		 	,audit_user_id = #{audit_user_id}
		 </if>
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="audit_opinion != null and audit_opinion != ''">
		 	,audit_opinion = #{audit_opinion}
		 </if>
		 ,audit_type = 2
		 <if test="title != null and title != ''">
		 	,title = #{title}
		 </if>
		 <if test="summary != null">
		 	,summary = #{summary}
		 </if>
		 <if test="content != null and content != ''">
		 	,content = #{content}
		 </if>
		 <if test="image != null and image != ''">
		 	,image = #{image}
		 </if>
		 <if test="state != null and state != ''">
		 	,state = #{state}
		 </if>
		 <if test="status != null and status != ''">
		 	,status = #{status}
		 </if>
		WHERE
			id = #{id}
	</update>
	<!-- 审核、删除工商联要闻 -->
	<update id="auditGsl" parameterType="java.util.HashMap">
		UPDATE yj_gsl_article
		SET audit_type = 2
		 ,audit_user_id = #{audit_user_id}
		 <if test="audit_user_name != null and audit_user_name != ''">
		 	,audit_user_name = #{audit_user_name}
		 </if>
		 <if test="audit_time != null and audit_time != ''">
		 	,audit_time = #{audit_time}
		 </if>
		 <if test="audit_opinion != null and audit_opinion != ''">
		 	,audit_opinion = #{audit_opinion}
		 </if>
		 <if test="state != null and state != ''">
		 	,state = #{state}
		 </if>
		 <if test="status != null and status != ''">
		 	,status = #{status}
		 </if>
		WHERE
			id IN (${id})
	</update>
</mapper>